h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  // margin-top: .6875rem;
  color: #333333;
}
.filterHeader {
  position: relative;
  border-bottom: 1px solid #e5e9ec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  padding: 1.75rem 1.625rem;

  position: absolute;
  left: 0.25%;
  right: 0.25%;
  top: 3.92%;
  bottom: 86.88%;

  h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: #4f4f4f;
  }
}

// border-bottom: 1px solid #E5E9EC;
// height: 2rem;
// background-color: red;

// & > *{

//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

.filter__body {
  margin-top: 5rem;

  & h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #333333;
  }

  .filter__data_range > button {
    h3 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      // margin-top: .6875rem;
      color: #333333;
    }

    border: 0.5px solid #828282;
    color: #828282;
    padding: 0.375rem 0.75rem;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: inherit;

    &:hover {
      color: #27ae60;
    }
  }
}
.activeDates {
  color: #27ae60;
  border: 1px solid #27ae60;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.customRange {
  // border: 2px solid red;
  margin-top: 1.5rem;
  h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
  }
  input {
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 2px;
    width: 45%;
    height: 2.8rem;
    padding-left: 0.5rem;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    outline: none;
  }
}
.type {
  margin-top: 1.5rem;
  @extend h3;
}

.filter__footer {
  width: 100%;
  height: 50px;
  margin-top: 1rem;

  position: relative;

  &::after {
    content: "";
    width: 100%;
    inset: 0;
    top: 5%;
    border-top: 1px solid #e5e9ec;
    position: absolute;
  }

  .footer__btn {
    position: absolute;
    right: 0;
    & button {
      padding: 0.5rem 1rem;
      margin: 0.7rem;
      margin-top: 1rem;
      background: #e0e0e0;
      border-radius: 4px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 0.95rem;
      line-height: 1rem;
      text-transform: inherit;

      &:nth-child(2) {
        background: #27ae60;
        border: 1.28183px solid #27ae60;
        border-radius: 3.8455px;
        color: #ffffff;
      }
    }
  }
}
