.left__container {
    border: 1px solid #D6D5D5;
    border-radius: 5px;
    height: auto;

    .firstSection {
        border-bottom: 1px solid #D6D5D5;
        padding: 30px;

        h2 {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 27px;
            color: #333333;
            margin-bottom: 5px;
        }

        p {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #828282;
        }
    }

    .secondSection {
        @extend .firstSection;
        border: none;

        h2 {
            font-size: 16px;
            line-height: 22px;
        }

        p {
            font-size: 14px;
            line-height: 19px;


        }

    }

    .thirdSection {
        @extend .firstSection;
        border: none;
        margin-top: -30px;




        &>div {
            h2 {
                font-family: 'Avenir';
                font-style: normal;
                font-weight: 900;
                font-size: 14px;
                line-height: 19px;
                color: #333333;
                margin-bottom: 15px;

            }

            p {

                font-size: 14px;
                line-height: 20px;
                color: #212B36;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-left: -0.8rem;



            }



            margin-bottom: 30px;
        }
    }

}

.right__container {
    border: 1px solid #D6D5D5;
    border-radius: 5px;
    height: auto;
    position: sticky;
    top: 120px;

    .firstSection {
        padding: 29px 34px;
        border-bottom: 1px solid #D6D5D5;

        h2 {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 900;
            font-size: 16px;
            line-height: 22px;
            color: #333333;
            margin-bottom: 6px;
        }

        p {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #828282;
        }
    }

    .sectionTwo {
        padding: 7px 15px;
    }

    @media screen and (max-width:768px) {
        position: relative;
        // margin-top: -4rem;
        top: 0;
        // border: 2px solid red;
    }
}


.stack {
    border-bottom: 1px solid #D6D5D5;

    h2 {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
    }

    span {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #8B8B8B;
    }
}


.addPermission {
    // margin-top: 18px;

    h2 {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 19px;
        margin-top: 30px;
        color: #333333;
        margin-bottom: 15px;
    }

    p {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #212B36;
    }
}

.right__container {
    .secondSection {
        display: flex;
        gap: 6px;
        flex-flow: row wrap;

        p {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            color: #212B36;
        }

        span {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;

            color: #828282;
        }

        &>div {
            display: flex;
            flex-flow: row wrap;
            gap: 10px;
        }
    }


}

.permission__Roles {
    display: flex;

    &>div {

        display: flex;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid #D6D5D5;
        // padding: 10px 0;
        width: 100%;
        padding: 30px 15px;

        &:last-child {
            border: none;
        }
    }

}



.permission__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 42px;
    flex-flow: row wrap;

    &>div {
        width: 35%;

        &:nth-of-type(1) {
            flex: 2;
        }


    }

    @media screen and (max-width:1200px) {
        flex-direction: column;

        &>div {
            width: 100%;
        }
    }
}