.container {
    width: 100% !important;
    height: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    // overflow: hidden;
    margin: 0px auto;
    position: relative;


    .title {
        height: 60px;
        display: flex;
        align-items: center;
        padding: 27px 50px;
        border-bottom: 1px solid #E0E0E0;
        background-color: #fff;
        position: sticky;
        width: 100%;
        top: 0px;
        // inset: 0;
        z-index: 9999;
        // border: 2px solid red;




        p {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            /* identical to box height */


            color: #828282;
        }
    }

}


// form
.formContainer {

    height: 100%;
    padding: 10px;

    label {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;

        color: #333333;
        padding: 15px 0;
    }

    button {
        // background: #27AE60;
        border-radius: 20px;
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        text-align: center;

        color: #FFFFFF;
        // padding: 10px 30px;
    }

    svg {
        width: 30px;
        height: 30px;
    }

    @media screen and (max-width:768px) {
        // display: block;
        // border: 1px solid red;
        margin-top: 4rem;
        padding-inline: 20px;
    }
}

.stepLabel {
    font-family: 'Avenir';
    text-align: left !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #414141;
}

.stepDesc {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #8B8B8B;
}