@import "../../../components/color/color.module.scss";


.container {
    background-color: $dark;
    width: 100%;
    height: 100vh;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;

    .logo {
        margin-top: 40px;
        margin-bottom: 52.4px;
    }

    .middle {
        // background-color: #27AE60;
        height: 100%;
    }

    .form_container {
        width: 444px;
        min-height: 334px;
        max-width: 100%;
        background: $light;
        box-shadow: 0px 4px 14px rgba(15, 49, 32, 0.15);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 47px 50px 39px 50px;


        .middleText {

            h2 {
                font-family: 'Avenir bold';
                font-style: normal;
                font-weight: 900;
                font-size: 18px;
                line-height: 25px;
                text-align: center;
                color: #000000;
                margin-bottom: 14px;
                // margin-top: 47px;

            }

            p {
                font-family: 'Avenir';
                font-style: normal;
                font-weight: 400 !important;
                font-size: 14px;
                line-height: 19px;
                text-align: center;
                color: #6F6F6F;
                margin-bottom: 29px;

                span {
                    color: green;
                }
            }
        }




        form {
            width: 100%;







            input {
                width: 100%;
                padding-left: 10px;
            }

            button {
                background: #27AE60;
                border-radius: 20px;
                font-family: 'Avenir';
                font-style: normal;
                font-weight: 800;
                font-size: 16px;
                line-height: 22px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #FFFFFF;
                width: 100%;
                height: 44px;
                margin-top: 30px;
                justify-content: center;
            }
        }
    }
}



.footer {
    // font-family: 'Avenir';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 14px !important;

    span {
        color: #27AE60;
    }
}