.titleText {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}



.modal__btn {

    overflow: scroll !important;

    max-height: 95vh !important;


    form {
        width: 100%;
        // margin-top: 1.9rem;
        // height: 90vh;

        label {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 0.9rem;
            line-height: 1rem;
            padding: 10px 0;
            color: #414141;




        }

        &>div {
            margin-top: 2.2rem;

        }


    }


    button[type="submit"] {
        background: #27ae60;
        border-radius: 20px;
        // margin-bottom: 1.4;
        width: 100%;
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.2rem;
        text-align: center;
        height: 44px;
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        // border: red 10px solid;


    }

}

.customeModal {
    width: 550px;
    
}