.status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5px 10px;
    gap: 10px;
    width: 80px;
    height: 21px;

    border-radius: 20px;

    span {
        font-family: 'Avenir semibold';
        font-style: normal;
        font-weight: 500;
        font-size: 12px !important;
        line-height: 16px;
        text-align: center;
        text-transform: capitalize !important;
    }

    .success {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 500;
        font-size: 12px !important;
        line-height: 16px;
        text-align: center;
        text-transform: capitalize !important;
        background: #D6FFE7 !important;

        span {
            color: #006629;
        }
    }
}

// .success,
.Approved,
.approved,
.successful,
.withheld,
.active {
    @extend .status-container;
    background: #D6FFE7 !important;

    span {
        color: #006629;
    }
}

.abandoned,
.Abandoned,
.pending,
.onhold,
.Pending {
    @extend .status-container;
    background: rgba(242, 201, 76, 0.3);

    &>span {

        color: #BE8F00 !important;

    }
}

.error,
.lost,
.declined,
.inactive,
.expired {
    @extend .status-container;
    background: rgba(255, 106, 106, 0.3);

    span {
        color: #FF4848;
    }

}