.toastSuccess {
    border: 2px solid #27AE60;
    padding: 18px 20px;
    // min-width: 350px;
    border-radius: 50px 50px 0px 50px;
    display: flex;
    align-items: center;
    width: max-content;
    gap: 20px;
    z-index: 99999999 !important;
    position: absolute;
    right: 1rem;
    background-color: #fff;
    top: 0.3rem;


    p {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        /* identical to box height */
        text-transform: capitalize;

        color: #27AE60;
    }
}

.toastError {
    @extend .toastSuccess;
    border: 2px solid #EB5757;

    p {
        color: #EB5757;
    }
}



// currency formater
.currencyFormat {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: 5px;


    .currency {
        font-family: 'Avenir light';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;

        color: #828282;
    }

    .amount {
        font-family: 'Avenir bold';
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 19px;
        margin-top: -2px;
        color: #333333;
        letter-spacing: 1px;
    }
}


// date and time format
.dateFormat {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: 3px;

    .day {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #333333 !important;
    }

    .time {
        @extend .day;
        color: #BDBDBD !important;
        margin-top: -2px;
    }
}