.container {
  // margin-bottom: 100px;
  width: 100%;
  padding: 0;
}

.tableWrapper {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  // border: 2px solid red;
  // width: 100%;
  // margin: 20px auto 100px auto;
  // grid-gap: 20px;

  // @media screen and (max-width:768px) {
  //   grid-template-columns: 1fr;
  //   grid-gap: 10px;
  //   height: auto;
  // }
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 17.8px;
  position: relative;
  margin-top: 20px;


  &>div {
    width: 49%;
    position: relative;
    height: 400px;
    overflow-y: auto;

    @media screen and (max-width:800px) {
      width: 100%;
    }

  }

}

.tableContainer {
  width: 100%;
  height: auto;
  min-height: 320px;
  background: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 4px;

  &>div:nth-child(2) {
    margin-top: 34px;
  }
}

.header {
  height: 68px;
  width: 100%;
  // padding: 30px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 10px;

  &>h2 {
    font-size: 16px;
  }
}

.listWrapper {
  padding: 5px 25px;

  &>.listItem {
    height: auto;
    min-height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;



    &>div {
      h2 {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.154px;
        color: #333333;

      }

      &>span {
        // margin-bottom: 4px;
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.132px;
        color: #828282;
      }
    }

  }

  &>.listItem:not(:last-child) {
    border-bottom: 1px solid #f2f2f2;


    &>div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;


    }
  }
}

.deviceContainer {
  width: 100%;
  // height: 100%;
  display: grid;
  grid-template-columns: 180px 1fr;
  align-items: center;
  padding: 0 30px;
  // border: 1px solid red;
  justify-content: flex-start;
  margin-top: 39px;

  &>div:first-child {
    &>h2 {
      margin-top: 15px;
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      line-height: 21px;
      letter-spacing: -0.272307px;
      color: #0F1747;
    }

    span {
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 21px;
      letter-spacing: -0.136153px;
      color: #7F7F8F;
    }
  }

  &>div:last-child {
    &>h2 {
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      line-height: 21px;
      letter-spacing: -0.272307px;
      color: #0F1747;
    }


    span {
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 21px;
      letter-spacing: -0.136153px;
      color: #7F7F8F;
    }


    &>div:not(:first-child) {
      margin-top: 20px;
    }

    &>.listStatus {
      display: flex;
      align-items: center;

      &>p {
        margin-left: 4px;
      }
    }

    &>div {
      @media screen and (max-width:768px) {
        margin-left: -40px;

      }

      &>div {
        display: flex;
        align-items: center;

        &>div:first-child {
          background-color: #27ae60;
        }

        &>div {
          margin-right: 10px;


        }
      }

      &:nth-child(2) {
        & .status {
          background-color: #406a99;
        }


      }

      &:last-child {
        & .status {
          background-color: #56ccf2;
        }

      }

      h2 {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: -0.20423px;
        color: #333333;
      }

      span {
        margin-left: 1.5rem;
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 21px;
        letter-spacing: -0.136153px;

        color: #828282;
      }
    }
  }

  @media screen and (max-width:768px) {
    // grid-template-columns: 1fr;
    padding: 0 20px;
    height: auto;
  }

}

.weekDaysContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-auto-rows: 20px;
  grid-row-gap: 10px;
  padding: 20px 23px;

  &>div {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    grid-gap: 20px;

    &>p {
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.00206293px;
      color: #828282;
    }

    &>div {
      max-height: 14px;

      &>div {
        max-height: 14px;
        background: rgba(111, 207, 151, 0.65) !important;
      }

      margin: 0 !important;
      width: 100%;
    }
  }
}

.paymentContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-auto-rows: 20px;
  padding: 20px 20px;

  &>div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 14px;

    &>p {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
      color: #828282;
      margin-bottom: 6px;
    }

    &>div {
      &>div {
        max-height: 22px;

        &>div {
          color: #333333 !important;
        }
      }

      margin: 0 !important;
      width: 100%;
    }
  }
}

.transactionContainer {
  width: 100%;
  margin-right: auto;
  counter-reset: item;
  list-style: none;
  padding: 20px 23px;

  &>li {
    counter-increment: item;
    margin-top: 15px;
    // margin-right: 3rem;
    display: flex;
    gap: 13px;
    align-items: flex-start;

    &::before {
      content: counter(item);
      // margin-right: 13px;
      background: #eb5757;
      border-radius: 2px;
      color: white;
      height: 18px;
      width: 30px;
      text-align: center;
      display: inline-block;
    }

    p {
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      margin-top: -3px;
      color: #4F4F4F;

      &:first-child {
        width: 55%;
      }
    }
  }
}

.puppleStatus {
  background-color: #bb6bd9 !important;
}

.orangeStatus {
  background-color: #ff9c72 !important;
}

.dangerStatus {
  background-color: #eb5757 !important;
}

.successsStatus {
  background-color: #6fcf97 !important;
}

.skyBlueStatus {
  background-color: #56ccf2;
}

.successBar {
  background-color: transparent !important;
  max-height: 22px;
  width: 100%;

  &>div {
    max-height: 22px;
    width: 100%;
    background: rgba(111, 207, 151, 0.71) !important;
  }
}


.dangerBar {
  background-color: transparent !important;

  &>div {
    background: rgba(235, 87, 87, 0.71) !important;
  }
}

.primaryBar {
  background-color: transparent !important;

  &>div {
    background: #8ADCF6 !important;
  }
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

ol {
  &>li {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */


    color: #4F4F4F;
  }
}


.banks__customer {
  margin-left: 50px;
}

.percentage {
  background-color: transparent !important;
}


.helpCenter {
  position: fixed;
  // display: none;
  right: 20px;
  bottom: 20%;
  transform: scale(0);
  transition: transform .3s ease-in-out;
  z-index: 99999 !important;
}

.showHelpCenter {
  // border: 2px solid blue;
  @extend .helpCenter;
  transform: scale(1);
  z-index: 99999;
  transition: transform .3s ease-in-out;

}

.ProgressBar {
  height: 22px;
  width: 100%;
  display: flex;
  // justify-content: center;
  // align-items: center;

  .bar {
    border-radius: 2.06293px;
    height: 100%;
    // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 12.7px;
    min-width: 10%;

    p {
      font-family: 'Avenir bold';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 12px;
      text-align: right;
      letter-spacing: 0.00206293px;
      color: #333333;
      // display: flex;
      // justify-content: center;
      // align-items: flex-end;
      width: 100%;
      float: right;
    }
  }
}