.container {
	display: flex;
	flex-direction: column;
	// width: calc(100% - 269px);
	width: 100%;
	position: relative;

	hr {
		background-color: #e0e0e0;
	}
}

.pageWrapper {
	margin: 0.6rem 0;
}

.spacedLine {
	padding: 0 2rem;
}


.sectionWrapper {
	background: #FFFFFF;
	border: 1px solid #DFDFDF;
	border-radius: 20px;
	width: 100%;
	margin-inline: auto;
	margin-top: 2px;
}

.sectionOne {
	// padding: 0 2rem;
	margin-top: 10px;

	&>div:nth-child(1) {
		margin: 1.25rem 0;

		div {
			display: flex;
			align-items: center;
			color: #828282;

			&>p {
				color: #4f4f4f;
				font-size: 0.875rem;
				font-weight: 400;
			}
		}
	}
}

.sectionTwo {
	margin: 2rem 2rem 1.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media screen and (max-width: 600px) {
		flex-direction: column;
		align-items: flex-start;
		gap: 1rem;
	}

	&>div {
		display: flex;
		gap: 1rem;
		align-items: center;
		color: #333;
		font-size: 1.25rem;

		@media screen and (max-width: 450px) {
			font-size: 1rem;
		}
	}

	// &>div:first-of-type {
	// 	@media screen and (max-width: 450px) {
	// 		// flex-direction: column;
	// 		align-items: flex-end;
	// 		gap: 4rem;
	// 	}

	// 	&>p:first-of-type {
	// 		font-weight: 700;
	// 	}

	// 	&>p:last-of-type {
	// 		font-weight: 500;
	// 		font-size: 0.75rem;
	// 		color: #27AE60;
	// 		width: 61px;
	// 		height: 19px;
	// 		text-align: center;
	// 		padding: 0.25rem 0.75rem;
	// 		background: rgba(39, 174, 96, 0.15);
	// 		border-radius: 2px;
	// 	}
	// }
}

.sectionThree {
	padding: 2rem 2rem 1.25rem;
	// border: 2px solid red;

	&>div:first-of-type {
		display: flex;
		align-items: center;
		gap: 3rem;
		flex-flow: row wrap;
		border-bottom: 1px solid #F2F2F2;

		border-top: 1px solid #F2F2F2;
		padding: 20px 0;


		@media screen and (max-width: 768px) {
			gap: 1.25rem;
		}

		&>div {
			border-left: 1px solid #e0e0e0;
			padding-left: 2rem;
			// border: 2px solid red;

			@media screen and (max-width: 850px) {
				border-left: none;
				padding-left: 0;
			}

			&>p:first-of-type {
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 400;
				font-size: 12px;
				line-height: 16px;
				color: #828282;
			}

			&>p:last-of-type {
				color: #333;
				font-size: 0.875rem;
				font-weight: 500;

				&>svg {
					color: #27ae60;
					width: 15px;
					height: 15px;
					// padding-top: 2px;
					cursor: pointer;
					gap: 5px;

				}
			}
		}

		&>div:first-of-type {
			border-left: none;
			padding-left: 0;
		}
	}

	&>div:last-of-type {
		margin-top: 2rem;
		width: 50%;

		@media screen and (max-width: 1000px) {
			width: 70%;
		}

		@media screen and (max-width: 768px) {
			width: 100%;
		}

		&>p:first-of-type {
			color: #828282;
			font-size: 0.75rem;
			font-weight: 400;
		}

		&>p:last-of-type {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			/* or 143% */


			color: #333333;
			margin-bottom: 10px;
		}
	}
}

.sectionFour {
	padding: 1.55rem 0rem;
	margin-top: 1.7rem;

	&>div {
		h3 {
			font-family: 'Avenir', sans-serif;
			font-weight: 500;
		}
	}
}

.tableContainer {
	margin-top: 1.5rem;
}

.successText {
	color: white;
	background-color: #27ae60;
	padding: 0.2rem 0.200rem;
	text-align: center;
	border-radius: 20px;
	font-weight: 500;
	width: 90px;

}

.pendingText {
	color: black;
	background-color: #f2c94c;
	padding: 3px 5px;
	text-align: center;
	border-radius: 20px;
	font-weight: 500;
	width: 90px;
}

.failText {
	color: white;
	background-color: #eb5757;
	padding: 0.2rem 0.625rem;
	text-align: center;
	border-radius: 20px;
	width: 90px;
	font-weight: 500;
}

.nameText {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 900 !important;
	font-size: 20px;
	line-height: 27px;
	color: #333333;
}

.buttonGroup {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	button {
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: #27AE60 1px solid;
		color: #333;
		background-color: transparent;
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		color: #27AE60;

		&:nth-of-type(1) {
			background-color: #E0E0E0;
			color: #333333;
			border: none;
		}
	}

}

.box {
	width: 100% !important;
	display: flex;
	gap: 3rem;
	flex-flow: row wrap;

	.descBox {
		width: 546px;

		&>p:first-of-type {
			color: #828282;
			font-size: 0.75rem;
			font-weight: 400;
		}

		&>p:last-of-type {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			/* or 143% */


			color: #333333;
			margin-bottom: 10px;
		}
	}

	.imgBox {

		&>p:first-of-type {
			color: #828282;
			font-size: 0.75rem;
			font-weight: 400;
		}

		img {
			border-radius: 9px;
			margin: 5px;

		}
	}
}

a {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	/* identical to box height, or 100% */


	color: #2F80ED;
}