.container {
	display: flex;
	flex-direction: column;
	// width: calc(100% - 269px);
	position: relative;

	@media screen and (max-width: 850px) {
		width: calc(100% - 73px);
	}

	@media screen and (max-width: 600px) {
		width: calc(100% - 57px);
	}

	& > hr {
		background-color: #e0e0e0;
	}
}

.pageWrapper {
	padding: 2rem;
	margin-bottom: 4rem;
}

.donationModalContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 2rem;
	padding: 1rem 2rem;

	& > div {
		display: grid;
		grid-gap: 1rem;
	}

	@media screen and (max-width: 850px) {
		grid-template-columns: 1fr;
	}
}

.capitalText {
	text-transform: capitalize;
}

.tableBodyFlex {
	display: flex;
	gap: 0.5rem;
	align-items: center;

	& > div {
		cursor: pointer;
	}

	& > div:last-of-type {
		svg {
			width: 0.85rem;
			height: 0.85rem;
			top: 0.25rem;
			position: relative;
		}
	}
}

.tableBodyText {
	font-size: 0.875rem;
	color: #333;
	font-weight: 400;
	cursor: pointer;
}

.tableBodySpan {
	color: #828282;
}

.tableContainer {
	margin-top: 1.5rem;
}

.topContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media screen and (max-width: 570px) {
		flex-direction: column;
		align-items: flex-start;
		gap: 0.75rem;
	}

	& > div {
		& > p {
			color: #333;
			font-size: 1.25rem;
		}
	}
}

.filterModalContainer {
	border: 1px solid #d5dae1;
	box-shadow: 0px 10px 10px rgba(6, 44, 82, 0.92);
	border-radius: 3px;
	background-color: white;
	max-width: 400px;
	max-height: 470px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Avenir', sans-serif;

	& > p {
		font-size: 0.875rem;
		color: #4f4f4f;
		margin: 1rem 1.5rem;
	}

	hr {
		background-color: #e5e9ec;
	}
}

.modalContent {
	margin: 2rem 1.5rem;
	display: grid;
	grid-gap: 1.25rem;

	& > div:nth-child(1) {
		& > p {
			color: #333;
			font-size: 0.875rem;
		}

		& > div {
			display: flex;
			margin-top: 0.5rem;
			gap: 1rem;

			& > p {
				border: 1px solid #dddddd;
				border-radius: 2px;
				padding: 0.375rem 0.75rem;
				color: #828282;
				font-size: 0.875rem;
			}

			& > p:hover {
				cursor: pointer;
				opacity: 0.75;
			}
		}
	}

	& > div:nth-child(2) {
		& > p {
			color: #333;
			font-size: 0.875rem;
		}

		& > div {
			display: flex;
			gap: 1rem;
			align-items: center;

			& > svg {
				color: #25303a;
				margin-top: 0.5rem;
			}

			& > div {
				border: 1px solid #dddddd;
				border-radius: 2px;
				padding: 0.375rem 0.75rem;
				color: #c4c4c4;
				flex: 1;
				font-size: 0.75rem;
				margin-top: 0.5rem;
			}
		}
	}

	& > div:nth-child(3) {
		& > p {
			color: #333;
			font-size: 0.875rem;
			margin-bottom: 0.5rem;
		}
	}

	& > div:nth-child(4) {
		& > p {
			color: #333;
			font-size: 0.875rem;
			margin-bottom: 0.5rem;
		}
	}
}