.headerTitle {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}

button {
    gap: 4px;
    // width: 140px;
    height: 34px;
    border-radius: 22px;
    padding: 7.5px 16px;
    background: #27AE60;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    @media screen and (max-width:500px) {
        margin-top: 1rem;
    }
}

.outlinedBtn {
    background-color: #fff;
    border: 1px solid #27AE60;
    color: #333;

    &:hover {
        background: #f6f6f6;

    }
}

.status {
    width: 80px;
    height: 19px;
    background: rgba(39, 174, 96, 0.15);
    border-radius: 22px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #27AE60;
    padding: 2.5px 10px;
}

.pending {
    @extend .status;
    background: rgba(242, 201, 76, 0.15);
    color: #B99528;
    width: 100px !important;
}



// create Invoice header
.createInvoiceheader {
    padding: 28px 50px;
    border-bottom: 1px solid #E0E0E0;

    h2 {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 900 !important;
        font-size: 20px;
        line-height: 27px;
        color: #828282;
    }


    .puchaseHeader {

        p {
            color: #333;
        }
    }
}

.successWrapper {
    width: 540px;
    height: 493px;
    background: #F8F8F8;
    border: 1.30275px solid #F0F0F0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;


    .textContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;

        h2 {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 38px;
            text-align: center;

            color: #333333;
        }

        p {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            width: 358px;
            height: 38px;

            text-align: center;

            color: #333333;
        }

        button {
            // padding: 14px 20px;
            height: 44px;
            width: 180px;
            font-family: 'Avenir';
            font-style: normal;
        }
    }

}






.downloadIcon {
    margin-right: 4px;
    margin-left: 10px;
}


.helperText {
    margin-top: 10px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #828282
}


.label {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333,
}

.btn {

    gap: 4px;
    width: 140px;
    height: 44px;
    border-radius: 22px;
    padding: 7.5px 16px;
    background: #27AE60;
    color: #fff;
    // width: 180px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;

}