.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  & > hr {
    background-color: #e0e0e0;
  }
}

.pageWrapper {
  padding: 1rem 2rem;
  margin-bottom: 4rem;

  @media screen and (max-width: 770px) {
    padding-right: 6rem;
  }
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 570px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }

  & > div {
    & > p {
      color: #333;
      font-size: 1.25rem;
    }
  }
}

.tableContainer {
  margin-top: 1.5rem;
}

.tableBodySpan {
  color: #828282;
}

.blacklistFlex {
  background: #f5fffa;
  border: 1px solid #f0f0f0;
  margin-top: 4rem;
  border-radius: 0.25rem;
  display: flex;
  padding: 3rem 6rem;
  justify-content: space-between;

  @media screen and (max-width: 1000px) {
    padding: 3rem 4rem;
  }

  @media screen and (max-width: 570px) {
    flex-direction: column;
    gap: 1.5rem;
  }

  & > div:nth-child(even) {
    width: 1.5px;
    background: #dfe7ef;
  }

  & > div:nth-child(odd) {
    display: grid;
    place-items: center;

    svg {
      color: #4f4f4f;
      margin-bottom: 1.25rem;
      @media screen and (max-width: 570px) {
        margin-bottom: 0rem;
      }
    }

    & > p {
      color: #4f4f4f;
      font-size: 0.875rem;
      font-weight: 400;
      margin-top: 0.5rem;
      @media screen and (max-width: 570px) {
        margin-top: 0.25rem;
      }
    }

    & > p:first-of-type {
      font-weight: 500;
      font-size: 1rem;
      color: #333;
    }

    & > p:last-of-type {
      color: #219653;
      text-decoration: underline;
      cursor: pointer;
    }

    & > p:last-of-type:hover {
      opacity: 0.75;
    }
  }
}

.capitalText {
  text-transform: capitalize;
}

.tableBodyText {
  font-size: 0.875rem;
  color: #333;
  font-weight: 400;
  cursor: pointer;
}

// ActionBtn(blacklist and view details)
.ActionBtn {
  button {
    border: none;
    outline: none;
    padding: 0.7rem 1.5rem;
    border-radius: 0.3rem;

    &:nth-of-type(1) {
      background-color: lighten(#219653, 10);
      color: #f5fffa;
    }
    &:nth-of-type(2) {
      background-color: lighten(red, 20);
      color: #f5fffa;
    }
  }
}
