.signupContainer {
	min-height: 100vh;
	min-width: 100%;
	background: #1E1E1E;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.logo {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 30px;

}

.accountTypes {
	display: flex;
	// align-items: flex-start;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	margin: 1rem;
	padding: 1rem;
}

.signupDiv {


	width: 845px;
	height: 570px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(15, 49, 32, 0.15);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}



.signupList {
	margin: 20px 0px 0px 20px;
}

.signupHeader {
	text-align: center;
	font-weight: 500;
	font-size: 24px;
	line-height: 33px;
	color: #4F4F4F;
}

.desc {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #8B8B8B;
	margin-top: 1rem;
	font-weight: 400;
	// border: 2px solid red;
	margin-top: -5px;
}

.title {

	// border: 2px solid red;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #414141;
	height: 20px;
}

.formTitle {
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: #414141;
}

.mt1 {
	margin-top: 1rem;
	cursor: pointer;
}

.mt2 {
	margin-top: 2rem;
}

.sub {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 30px;

	p {
		color: #27AE60;
	}
}

.subP {
	font-style: normal;
	font-weight: normal;
	font-size: 0.9rem;
	line-height: 1rem;
	text-align: center;
	color: #6f6f6f;


}

.formSub {
	margin-top: 2rem;
	font-size: 0.9rem;
	line-height: 1rem;
	text-align: center;
	color: #27AE60;
}

.divRadioGroup {
	display: flex;
	justify-content: flex-start;
	border: 1px solid #e0e0e0;
	margin: 0.5rem auto;
	padding: 1rem;
	box-sizing: border-box;
	border-radius: 4px;
	width: 398px;
	height: 95px;

}

.divRadioGroup:focus {
	border: 1px solid #27ae60;
}

.divRadioGroup:hover {
	border: 1px solid #27ae60;
}

.ml {
	margin-left: 1rem;
	height: 100%;
}

.buttonDiv {
	text-align: center;
	margin: 2rem 0;
}

@media only screen and (max-width: 600px) {
	.signupHeader {
		font-size: 16px;
		text-align: center;
	}

	.signupDiv {
		padding: 2rem;
		width: 100%;
	}

	.divRadioGroup {
		width: 100%;
		height: auto;
	}
}