.signupContainer {
	height: 100vh;
	min-width: 100%;
	background: #041926;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	overflow: auto;
}

.logo {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 58.58px;

}

.accountTypes {
	display: flex;
	// align-items: flex-start;
	border: 1px solid #e0e0e0;
	border-radius: 4px;

}

.signupDiv {
	width: 52.9rem;
	// height: 38.1rem !important;
	height: 609px !important;

	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(15, 49, 32, 0.15);
	border-radius: 20px;
	margin: 0 auto;
	padding-inline: 13.9rem;
	// border: 2px solid red;
	padding-top: 76px;
	padding-bottom: 76px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;


}



// .signupList {
// 	margin: 20px 0px 0px 20px;
// 	border: 2px solid blue;
// }

.signupHeader {
	font-family: 'Avenir';
	text-align: center;
	font-weight: 500;
	font-size: 24px;
	line-height: 33px;
	color: #4F4F4F;
	// margin-top: 76px !important;
	margin-bottom: 24px !important;
}

.signUpContent {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 398px;


}

.desc {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #8B8B8B;
	// margin-top: 1rem;
	display: block;
	font-weight: 400;
	// border: 2px solid red;
	// margin-top: -5px;
}

.title {

	margin-bottom: 10px;
	// border: 2px solid red;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #414141;
	height: 20px;

}

.formTitle {
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: #414141;
}

.mt1 {
	margin-top: 1rem;
	cursor: pointer;
}

.mt2 {
	margin-top: 2rem;
}

.sub {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 32px;
	margin-bottom: 10px;

	p {
		color: #27AE60;
	}
}

.subP {
	font-style: normal;
	font-size: 15px;
	line-height: 16px;
	overflow: hidden;
	width: 75%;
	color: #8b8b8b;
	font-weight: 400 !important;
	// line-break: auto;


}

.signinAnchor {
	text-decoration: none;
	color: Green 2;
	cursor: pointer;
	font-size: 15px;
	line-height: 20px;
	font-weight: 900;
}

.formSub {
	margin-top: 2rem;
	font-size: 0.9rem;
	line-height: 1rem;
	text-align: center;
	color: #27AE60;
}

.divRadioGroup {
	display: flex;
	justify-content: flex-start;
	border: 1px solid #e0e0e0;
	align-items: center;
	box-sizing: border-box;
	border-radius: 10px;
	width: 398px;
	height: 95px;
	margin-bottom: 20px;
	background-color: #FFFFFF
}

.active {

	border: 1px solid #27ae60;
	background-color: #f4fbf8;
}

.divRadioGroup:focus {
	border: 1px solid #27ae60;
	background-color: #f4fbf8;
}

.divRadioGroup:hover {
	border: 1px solid #27ae60;
	background-color: #f4fbf8;
}



.ml {
	// margin-left: 29px;
	// height: 100%;

	// border: 2px solid blue;
}

.buttonDiv {
	// border: 2px solid red;
	text-align: center;
	margin-top: 10px;
}

@media only screen and (max-width: 600px) {
	.signupHeader {
		font-size: 16px;
		text-align: center;
	}

	.signupDiv {
		padding: 2rem;
		width: 100%;
	}

	.divRadioGroup {
		width: 100%;
		height: auto;
	}
}



.signUpRadioLabel {
	// border: 2px solid red;
	margin-top: -10px;


}