.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;

	&>hr {
		background-color: #e0e0e0;
	}
}

.pageWrapper {
	margin-bottom: 4rem;

	&>hr {
		background-color: #e0e0e0;
	}
}

.sectionOne {
	// padding: 0 2rem;

	&>div:nth-child(1) {
		margin: 1.25rem 0;

		div {
			display: flex;
			align-items: center;
			color: #828282;

			&>p {
				color: #4f4f4f;
				font-size: 0.875rem;
				font-weight: 400;
			}
		}
	}

	&>div:nth-child(2) {
		display: flex;
		align-items: center;
		gap: 1.25rem;
		margin-bottom: 1.5rem;

		&>p:nth-child(1) {
			color: #333;
			font-size: 1.5rem;
			font-weight: 700;
		}

		&>p:nth-child(2) {
			color: white;
			font-weight: 500;
			font-size: 0.75rem;
			padding: 0.15rem 0.625rem;
			background-color: #27ae60;
			border-radius: 2px;
		}
	}
}

.sectionTwo {
	padding: 2rem 0rem 0;
	display: flex;
	gap: 3rem;

	@media screen and (max-width: 1050px) {
		gap: 2rem;
	}

	@media screen and (max-width: 920px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (max-width: 400px) {
		grid-template-columns: 1fr;
		grid-gap: 1rem;
	}

	&>div:nth-child(even) {
		margin: 0.5rem 0;
		width: 1.5px;
		background: #e0e0e0;

		@media screen and (max-width: 920px) {
			display: none;
		}
	}

	&>div:nth-child(odd) {
		font-weight: 400;
		font-size: 0.875rem;

		&>p:nth-child(1) {
			color: #828282;
		}

		&>p:nth-child(2) {
			color: #333;
			margin-top: 0.5rem;
		}
	}
}

.sectionThree {
	background: #FFFFFF;
	border: 1px solid #DFDFDF;
	border-radius: 20px;

	.sectionThree_header {
		border-bottom: 1px solid #EFF3F8;
		gap: 7px;
		padding: 27px 32px;
		display: flex;
		align-items: center;
		flex-flow: row wrap;

		h2 {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 33px;

			color: #000000
		}
	}

	.sectionThreeBody {
		padding: 39.5px 31px 29px 31px;
		display: flex;
		align-items: center;
		flex-flow: row wrap;
		gap: 2.5rem;

		div {
			border-left: 1px solid #EFF3F8;
			padding-left: 2rem;


			&:nth-of-type(1) {
				border: none;
				padding: 0;
			}

			@media screen and (max-width:545px) {
				&:nth-of-type(3) {
					border: none;
					padding: 0;
				}
			}

			@media screen and (min-width:545px) and (max-width:655px) {
				&:nth-of-type(4) {
					border: none;
					padding: 0;
				}
			}

		}

		@media screen and (max-width:500px) {
			flex-direction: column;
			align-items: flex-start;

			div {
				border: none;
				padding: 0;

			}
		}

		span {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;

			color: #828282;
		}

		p {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			margin-top: 4px;
			color: #333333;
		}

	}

}

.sectionFour_Payment {
	background: #FFFFFF;
	border: 1px solid #DFDFDF;
	border-radius: 20px;
	margin-top: 30px;

	.sectionFour_payment_header {
		padding: 30px 31px;
		border-bottom: 1px solid #EFF3F8;

		h2 {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 25px;
			color: #333333;
		}
	}

	.sectionFour_payment_body {
		display: flex;
		align-items: center;
		flex-flow: row wrap;
		gap: 4rem;
		padding: 20px 31px 40px 31px;

		span {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			letter-spacing: 0.0024px;

			color: #828282;
		}

		p {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			margin-top: 4px;
			color: #333333;
		}
	}
}

.sectionFour {
	padding: 4rem 0 0;

	&>div:nth-child(1) {
		// border-bottom: 1px solid #e0e0e0;

		h3 {
			font-family: 'Avenir', sans-serif;
			color: #333;
			font-weight: 700;
			padding: 0.625rem 0;
		}
	}
}




.tableContainer {
	margin-top: 1.5rem;
}

.tableBodyText {
	font-size: 0.875rem;
	color: #333;
	font-weight: 400;
	cursor: pointer;
}

.tableBodyCapital {
	font-size: 0.875rem;
	color: #333;
	font-weight: 400;
	cursor: pointer;
	text-transform: capitalize;
}

.tableBodySpan {
	color: #828282;
}


.rolling__sectionone {
	background: #FFFFFF;
	border: 1px solid #DFDFDF;
	border-radius: 20px;
	margin-top: 20px;

	.rolling_header {
		padding: 27px 32px;
		border-bottom: 1px solid #EFF3F8;
		display: flex;
		align-items: center;
		gap: 10px;

		h2 {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 33px;

			color: #000000;
		}
	}

	.rolling_sectionOne_body {
		padding: 39px 31px;
		display: flex;
		align-items: center;
		gap: 3.5rem;
		flex-flow: row wrap;

		span {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			color: #828282;
		}

		p {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			margin-top: 4px;
			color: #333333;
		}

		&>div:not(:nth-of-type(1)) {
			border-left: 1px solid #EFF3F8;
			padding-left: 3.5rem;

		}

		@media screen and (max-width:768px) {
			&>div:not(:is(:nth-of-type(2), :nth-of-type(4))) {
				border-left: none;
				padding-left: 0;

			}
		}
	}

}