.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;

	&>hr {
		background-color: #e0e0e0;
	}
}

.pageWrapper {
	margin-bottom: 4rem;

	&>hr {
		background-color: #e0e0e0;
	}
}

.sectionOne {
	// padding: 0 2rem;

	&>div:nth-child(1) {
		margin: 1.25rem 0;

		div {
			display: flex;
			align-items: center;
			color: #828282;

			&>p {
				color: #4f4f4f;
				font-size: 0.875rem;
				font-weight: 400;
			}
		}
	}

	&>div:nth-child(2) {
		display: flex;
		align-items: center;
		gap: 1.25rem;
		margin-bottom: 1.5rem;

		&>p:nth-child(1) {
			color: #333;
			font-size: 1.5rem;
			font-weight: 700;
		}

		&>p:nth-child(2) {
			color: white;
			font-weight: 500;
			font-size: 0.75rem;
			padding: 0.15rem 0.625rem;
			background-color: #27ae60;
			border-radius: 2px;
		}
	}
}

.sectionTwo {
	padding: 2rem 0rem 0;
	display: flex;
	gap: 3rem;

	@media screen and (max-width: 1050px) {
		gap: 2rem;
	}

	@media screen and (max-width: 920px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (max-width: 400px) {
		grid-template-columns: 1fr;
		grid-gap: 1rem;
	}

	&>div:nth-child(even) {
		margin: 0.5rem 0;
		width: 1.5px;
		background: #e0e0e0;

		@media screen and (max-width: 920px) {
			display: none;
		}
	}

	&>div:nth-child(odd) {
		font-weight: 400;
		font-size: 0.875rem;

		&>p:nth-child(1) {
			color: #828282;
		}

		&>p:nth-child(2) {
			color: #333;
			margin-top: 0.5rem;
		}
	}
}

.sectionThree {
	padding: 4rem 0rem 0;

	@media screen and (max-width: 760px) {
		padding: 3rem 6rem 0 2rem;
	}

	&>div:nth-child(1) {
		border-bottom: 1px solid #e0e0e0;

		h3 {
			font-family: 'Avenir', sans-serif;
			color: #333;
			font-weight: 700;
			padding: 0.625rem 0;
		}
	}

	&>div:nth-child(2) {
		display: flex;
		gap: 3rem;
		margin-top: 0.625rem;
		flex-wrap: wrap;

		@media screen and (max-width: 920px) {
			gap: 2rem;
		}

		@media screen and (max-width: 400px) {
			display: grid;
			grid-gap: 1rem;
		}

		&>div {
			font-weight: 400;
			font-size: 0.875rem;

			&>p:nth-child(1) {
				color: #828282;
			}

			&>p:nth-child(2) {
				color: #333;
				margin-top: 0.5rem;
			}
		}
	}
}

.sectionFour {
	padding: 4rem 0 0;

	&>div:nth-child(1) {
		border-bottom: 1px solid #e0e0e0;

		h3 {
			font-family: 'Avenir', sans-serif;
			color: #333;
			font-weight: 700;
			padding: 0.625rem 0;
		}
	}
}

.yellowText {
	color: #12122c;
	background-color: #f2c94c;
	text-transform: capitalize;
}

.greenText {
	color: white;
	background-color: #219653;
	text-transform: capitalize;
}

.redText {
	color: white;
	background-color: #eb5757;
	text-transform: capitalize;
}

.pendingText {
	background-color: #f2c94c !important;
	color: #12122c !important;
	font-family: "Avenir";
	font-style: normal;
	font-weight: 500 !important;
	font-size: 12px !important;
	line-height: 16px;
	text-align: center;
	background: rgba(242, 201, 76, 0.15) !important;
	color: #b99528 !important;
	height: 19px;
	display: flex;
	padding: 2px 15px !important;
	border-radius: 20px !important;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
}

.wonText {
	font-family: "Avenir";
	font-style: normal;
	font-weight: 500 !important;
	font-size: 12px !important;
	line-height: 16px;
	text-align: center;
	background-color: rgba(39, 174, 96, 0.15) !important;
	color: #27ae60 !important;
	height: 19px;
	display: flex;
	padding: 2px 15px !important;
	border-radius: 20px !important;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
}

.lostText {
	background-color: #f2c94c !important;
	color: #12122c !important;
	font-family: "Avenir";
	font-style: normal;
	font-weight: 500 !important;
	font-size: 12px !important;
	line-height: 16px;
	text-align: center;
	background: rgba(235, 87, 87, 0.15) !important;
	color: #eb5757 !important;
	height: 19px;
	display: flex;
	padding: 2px 15px !important;
	border-radius: 20px !important;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
}

.tableContainer {
	margin-top: 1.5rem;
}

.tableBodyText {
	font-size: 0.875rem;
	color: #333;
	font-weight: 400;
	cursor: pointer;
}

.tableBodyCapital {
	font-size: 0.875rem;
	color: #333;
	font-weight: 400;
	cursor: pointer;
	text-transform: capitalize;
}

.tableBodySpan {
	color: #828282;
}