.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;

	&>hr {
		background-color: #e0e0e0;
	}
}

.pageWrapper {
	padding: 3rem;
	margin-bottom: 4rem;
}

.balanceContainer {
	display: grid;
	background: #F9F9F9;
	border-radius: 20px;
	grid-gap: 1rem;
	width: 894px;
	padding: 20px;
}

.topBoxContainer {
	background: #f9f9f9;
	max-width: 900px;
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	width: 100%;

	@media screen and (max-width: 792px) {
		max-width: max-content;
		padding: 1rem;
	}

	@media screen and (max-width: 700px) {
		flex-direction: column;
		max-width: fit-content;
		margin-right: 3rem;
		gap: 1rem;
	}

	&>div {
		flex: 1;

		&>p:nth-child(1) {
			color: #828282;
			font-size: 0.875rem;
			font-weight: 400;
		}

		&>p:nth-child(2) {
			color: black;
			font-size: 1rem;
			font-weight: 500;
			margin: 0.625rem 0 0.5rem;

			@media screen and (max-width: 700px) {
				margin: 0.25rem 0;
			}
		}

		&>a {
			color: #27ae60;
			font-size: 0.875rem;
			font-weight: 400;
			text-decoration: underline;
		}

		&>div {
			display: flex;
			color: #828282;
			font-weight: 400;
			font-size: 0.75rem;

			&>svg {
				font-size: 0.75rem;
				margin-top: 0.1rem;
			}
		}
	}
}

.bottomBoxContainer {
	margin-top: 2.5rem;
	max-width: 900px;

	@media screen and (max-width: 792px) {
		max-width: 500px;
		width: 100%;
	}

	@media screen and (max-width: 700px) {
		max-width: fit-content;
		margin-right: 3rem;
	}

	&>hr {
		background: #e0e0e0;
		margin-bottom: 1.5rem;
	}

	&>div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1rem;

		@media screen and (max-width: 700px) {
			gap: 2rem;
		}

		h3 {
			font-weight: 700;
			font-size: 1.375rem;
			color: #333;
			font-family: 'Avenir', sans-serif;

			@media screen and (max-width: 700px) {
				font-size: 1.15rem;
			}
		}

		&>div {
			display: flex;

			&>p {
				font-size: 1rem;
				font-weight: 400;
				color: #4f4f4f;
			}

			&>button {
				font-size: 0.875rem;
				font-weight: 500;
				color: #27ae60;
				border: none;
				background-color: transparent;
			}

			&>button:hover {
				opacity: 0.65;
			}
		}
	}
}

.historyTopContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filterModalContainer {
	border: 1px solid #d5dae1;
	box-shadow: 0px 10px 10px rgba(6, 44, 82, 0.92);
	border-radius: 3px;
	background-color: white;
	max-width: 400px;
	max-height: 470px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Avenir', sans-serif;

	&>p {
		font-size: 0.875rem;
		color: #4f4f4f;
		margin: 1rem 1.5rem;
	}

	hr {
		background-color: #e5e9ec;
	}
}

.modalContent {
	margin: 2rem 1.5rem;
	display: grid;
	grid-gap: 1.25rem;

	&>div:nth-child(1) {
		&>p {
			color: #333;
			font-size: 0.875rem;
		}

		&>div {
			display: flex;
			margin-top: 0.5rem;
			gap: 1rem;

			&>p {
				border: 1px solid #dddddd;
				border-radius: 2px;
				padding: 0.375rem 0.75rem;
				color: #828282;
				font-size: 0.875rem;
			}

			&>p:hover {
				cursor: pointer;
				opacity: 0.75;
			}
		}
	}

	&>div:nth-child(2) {
		&>p {
			color: #333;
			font-size: 0.875rem;
		}

		&>div {
			display: flex;
			gap: 1rem;
			align-items: center;

			&>svg {
				color: #25303a;
				margin-top: 0.5rem;
			}

			&>div {
				border: 1px solid #dddddd;
				border-radius: 2px;
				padding: 0.375rem 0.75rem;
				color: #c4c4c4;
				flex: 1;
				font-size: 0.75rem;
				margin-top: 0.5rem;
			}
		}
	}

	&>div:nth-child(3) {
		&>p {
			color: #333;
			font-size: 0.875rem;
			margin-bottom: 0.5rem;
		}
	}

	&>div:nth-child(4) {
		&>p {
			color: #333;
			font-size: 0.875rem;
			margin-bottom: 0.5rem;
		}
	}
}

.pendingText {
	font-size: 0.875rem;
	color: #12122c;
	font-weight: 500;
	cursor: pointer;
	padding: 0.2rem 1rem;
	background-color: #f2c94c;
	border-radius: 2px;
	text-align: center;
	text-transform: capitalize;
	width: 90%;
}

.wonText {
	font-size: 0.875rem;
	color: white;
	font-weight: 500;
	cursor: pointer;
	padding: 0.2rem 1rem;
	background-color: #27ae60;
	border-radius: 2px;
	text-align: center;
	text-transform: capitalize;
	width: 90%;
}

.lostText {
	font-size: 0.875rem;
	color: white;
	font-weight: 500;
	cursor: pointer;
	padding: 0.2rem 1rem;
	background-color: #eb5757;
	border-radius: 2px;
	text-align: center;
	text-transform: capitalize;
	width: 90%;
}

.tableContainer {
	margin-top: 1rem;
}

.tableBodySpan {
	color: #828282;
}

.tableBodyText {
	font-size: 0.875rem;
	color: #333;
	font-weight: 400;
	cursor: pointer;
}

.tableBodyCapital {
	font-size: 0.875rem;
	color: #333;
	font-weight: 400;
	cursor: pointer;
	text-transform: capitalize;
}

.limitbutton {
	background: #e0e0e0 !important;
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #333333 !important;
	border-radius: 20px;

	cursor: pointer;
	text-align: center;
	margin-right: 20px;
}

.fundbutton {
	background: #27ae60 !important;
	border: 1.28183px solid #27ae60 !important;
	border-radius: 3.8455px;
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	border-radius: 20px;
	color: #ffffff !important;
	cursor: pointer;
	text-align: center;
}

.account_wrap {
	margin: 20px 50px;
}

.account_h1 {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	/* identical to box height */

	color: #828282;
}

.removeModal {
	margin-top: 40px;
	width: 100%;
}

.removeModal_p {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #8d8d8d;
}

.buttonModalwrap {
	margin: 50px 20px;
}

.buttonModal {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
}

.cancelModal {
	width: 100px;
	height: 30.76px;
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	color: #ffffff;
	background: #333333;
	border: 1.28183px solid #333333;
	border-radius: 3.8455px;
}

.removeModal {
	width: 100px;
	height: 30.76px;
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	color: #ffffff;
	background: #27ae60;
	border: 1.28183px solid #27ae60;
	border-radius: 3.8455px;
	margin-left: 20px;
	cursor: pointer;
}

.bankcomp {}

.bankcomp_h3 {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	margin-bottom: 21px;
}

.bankcomp_flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.7px solid #e9e8e8;
	margin-bottom: 8px;
}

.bankcomp_light {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #797979;
	flex: 1;
}

.bankcomp_dark {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #2f2f2f;
	text-align: left;
	flex: 1;
	display: flex;
	justify-content: flex-start;
}

.productId {
	font-weight: 800;
	padding: 0 5px;
}

.toastContainer {
	display: flex;
	align-items: center;
}

.bankcomp_span {
	margin-left: 5px;
	cursor: pointer;
}