.container {
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 20px;

    .webhook_header {
        padding: 28px 45px;
        border-bottom: 1px solid #EFF3F8;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;


        h2 {
            font-family: 'Avenir semibold';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
            color: #333333;
        }

        p {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #828282;
        }

        button {
            height: 32px;
            border-radius: 30px;
            font-family: 'Avenir semibold';
            font-style: normal;
            font-weight: 900;
            font-size: 11.7701px;
            line-height: 16px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF;

            &:disabled {
                cursor: not-allowed;
                background-color: gray;
            }
        }
    }

    .hook_body {
        padding: 29.5px 36px;

        .label {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #828282;
        }

        input {
            background: #FFFFFF;
            border: 1px dashed #DDDDDD;
            border-radius: 4px;
            height: 50px;
            padding: 16px;
            width: 100%;

        }

        .helperText {
            font-family: 'Avenir';
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            margin-top: 7px;
            color: #828282;
        }
    }
}


.hook_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-flow: row wrap;
    // gap: 39px;
    // margin: 35px 0px 142px 0px;


    &>div {
        width: 49%;

        @media screen and (max-width:1200px) {
            width: 100%;
        }

    }

    .hook_left {
        background: #F4F5F7;
        border-radius: 20px;

    }

    .hook_left_wrapper {
        display: flex;
        gap: 27px;
        align-items: center;
        // flex-flow: row wrap;
        border-bottom: 1px solid #DCDCDC;
        padding: 60px 28px 38.7px 28px;


        &>div:nth-of-type(1) {
            background: #F7F7FD;
            border: 0.782313px dashed #C7C7C7;
            border-radius: 5px;

            img {
                width: 115px;
                height: 115px;
                padding: 16px;
                border-radius: 100%;

            }
        }

        h2 {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            color: #000000;
        }

        p {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 13.5px;
            line-height: 21px;
            color: #9EA0B0;
            margin-top: -4px;
            margin-bottom: 5px;
        }

        .hook_left_contentbutton {
            background: #F7F7FD;
            border: 1px solid #E9E9E9;
            border-radius: 20px;
            width: 90px;
            // height: 22px;
            text-align: center;
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 14px !important;
            line-height: 19px;
            letter-spacing: 0.0024px;
            padding: 7.5px 16px;
            color: #333333;
            display: block;
            cursor: pointer;
        }

    }

    .hook_left_down {
        padding: 41px 28px 60px 28px;

        h3 {
            font-family: 'Avenir bold';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            color: #000000;
            padding-bottom: 9px;
        }

        .hook_left_down_color {
            display: flex;
            flex-direction: column;
            gap: 25px;


            &>div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 44px;
                border: 1px solid #DDDDDD;
                border-radius: 4px;


                &>div {
                    display: flex;

                    &:nth-of-type(1) {
                        flex: 1.3;
                        background: #DADAE1;
                        border-radius: 5px 0px 0px 5px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }

                    &:nth-of-type(2) {
                        border: 1px solid #DDDDDD;
                        flex: 2;
                        height: 100%;
                        background: #F4F5F7;
                        // border-radius: 20px 0px;
                        height: 44px;

                        input {
                            background-color: transparent;
                            border: none;
                            font-family: 'Avenir';
                            font-style: normal;

                            // height: 100%;
                            &:nth-of-type(1) {
                                flex: 2.5;
                            }

                            &:nth-of-type(2) {
                                flex: 1;
                                // height: 44px;
                            }

                        }

                        input[type="color"] {
                            // height: 150px;
                            height: 70px;
                            width: 20px;
                            margin-top: -1rem;
                            cursor: pointer;
                        }
                    }
                }
            }


        }

    }

}

.hook_right {
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .hook_right_heading {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;
        // border: 2px solid red;

    }

    svg {
        width: 100%;
        height: 100%;
    }
}



.imgUrl {
    color: #27AE60;
    font-size: 12px;
    font-family: 'Avenir';
    font-style: normal;
}