.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	margin-bottom: 50px;
	// border: #27AE60 1px solid;


}



.wrapper {
	width: 100%;
	margin: 7px auto auto;

	&>.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;

		&>div {
			display: flex;
			align-items: center;

			&>button {
				display: flex;
				align-items: center;
				padding: 8px 14px;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 0.0024px;
				color: #333333;
				width: auto;
				min-width: fit-content;
				height: 32px;
				background: #e0e0e0;
				border-radius: 20px;

				&>svg {
					font-size: 15px;
					margin-left: 0px;
				}

				&:first-child {
					&>svg {
						font-size: 20px;
					}
				}


			}

			& button:nth-of-type(2) {

				background: transparent;
				border: 1px solid #27AE60;
				color: #27AE60;
				border-radius: 20px;
				margin-left: 16px;
				display: none !important;
			}
		}
	}
}

.menuContainer {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 57px 1fr 80px;

	&>.menuHeader {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 26px;
		border-bottom: 1px solid #e5e9ec;

		&>h2 {
			font-family: Avenir;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #4f4f4f;
		}
	}

	&>.menuContent {
		width: 100%;
		height: 100%;
		min-height: 430px;
		padding: 32px 26px;

		&>.dateRange {
			display: flex;
			flex-direction: column;
			margin-bottom: 22px;

			&>h2 {
				font-family: Avenir;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 16px;
				color: #333333;
				margin-bottom: 8px;
			}

			&>.dateInputRange {
				width: 100%;
				display: grid !important;
				grid-column-gap: 14px;
				grid-template-columns: 150px 1fr 150px;
				align-items: center;
				justify-content: center;
			}

			&>.fluid {
				width: 100%;

				&>div {
					width: 100%;
				}
			}

			&>div {
				display: flex;
				height: 100%;
				width: fit-content;

				&>button {
					background: #ffffff;
					border: 1px solid #dddddd;
					border-radius: 2px;
					font-family: Avenir;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 20px;
					display: flex;
					align-items: center;
					text-align: center;
					letter-spacing: 0.00312px;
					color: #828282;
					white-space: nowrap;
					padding: 6px 12px;

					&:focus {
						border: 1px solid #27ae60;
						color: #27ae60;
					}

					&:not(:last-child) {
						margin-right: 14px;
					}
				}
			}
		}
	}

	&>.menuFooter {
		border-top: 1px solid #e5e9ec;
		width: 100%;
		height: 100%;
		padding: 26px 36px;
		display: flex;
		justify-content: right;
		align-items: center;

		&>button:last-child {
			margin-left: 20px;
			background-color: #27ae60;
			color: #fff;
		}
	}
}

.amount {
	display: flex;
	align-items: center;

	&>span {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #828282;
		margin-right: 8px;
	}

	&>h2 {
		font-family: Avenir;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		color: #333333;
	}
}

.containerNew {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.header {
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;

	&>h2 {
		font-family: Avenir;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		line-height: 35px;
		color: #333333;
	}

	&>p {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		margin-top: 25px;
		color: #828282;
	}
}



button.primary {
	background: #27ae60 !important;
	border-radius: 4px;
	color: #fff !important;
	opacity: 1;
	transition: all 0.4s ease;
}

button.primary:hover {
	opacity: 0.9;
}



// empty transaction list

.empty__tranasction {
	// border: #27ae60 1px solid;
	padding: 35px 75px;


	.header {
		width: 100%;
		margin: 0 auto;
		margin-top: 20px;

		&>h2 {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 30px;
			line-height: 41px;
			color: #333333;
		}

		&>p {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;
			width: 80%;
			max-width: 100%;
			margin-top: 19px;
			color: #828282;
		}


	}

	.panel {
		background: #f8f8f8;
		box-sizing: border-box;
		border: 1px solid #DFDFDF;
		border-radius: 20px;
		width: 841px;
		height: 274px;
		max-width: 100%;
		margin-top: 60px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		place-items: center;
		padding: 50px 0;



		&>div {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			&>h2 {
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 19px;
				text-align: center;
				width: 190px;
				color: #333333;
				margin-top: 23.67px;
			}

			&>button {
				margin-top: 30px !important;
				background: #27AE60;
				border-radius: 28px;
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 900;
				font-size: 14px;
				line-height: 19px;
				text-align: center;
				color: #FFFFFF;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		&>div:last-child {
			border-left: 1px solid #dfe7ef;
		}
	}


	@media screen and (max-width:768px) {
		padding: 35px 15px;

		h2 {
			font-size: 25px;
			// border: 1px solid red;
		}

		p {
			width: 100% !important;
		}

		.panel {
			background: #f8f8f8;

			width: 100%;
			height: auto;
			margin-top: 60px;
			display: grid;
			grid-template-columns: 1fr;
			place-items: center;
			padding: 50px 0;

			&>div:nth-of-type(1) {
				margin-bottom: 6rem;
				border-bottom: 1px solid #dfe7ef;
			}

		}
	}
}



// transaction__btn

.transaction__btn {

	div {
		display: flex;
		align-items: center;
		gap: 10px;

		button {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
		}


		.right__btn {


			& button:nth-of-type(1) {
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 20px;
				width: 131px;
				height: 32px;


				svg {
					margin: -10px;
				}


			}

			.button_business_button {
				display: flex;
				justify-content: center;
				align-items: center;
				color: #27ae60;
				border-radius: 4px;
				font-family: "Avenir";
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 0.0024px;
				background-color: transparent;
				border: none;
				outline: none;
				width: 131px;
				height: 32px;
				cursor: pointer;
				border-radius: 20px;
				border: 1px solid #27AE60;
			}


		}
	}
}



.pendingText {
	background-color: #f2c94c !important;
	color: #12122c !important;
	font-family: "Avenir";
	font-style: normal;
	font-weight: 500 !important;
	font-size: 12px !important;
	line-height: 16px;
	text-align: center;
	background: rgba(242, 201, 76, 0.15) !important;
	color: #b99528 !important;
	height: 19px;
	display: flex;
	padding: 2px 15px !important;
	border-radius: 20px !important;
	justify-content: center;
	align-items: center;
	width: 80px;
}


.wonText {
	font-family: "Avenir";
	font-style: normal;
	font-weight: 500 !important;
	font-size: 12px !important;
	line-height: 16px;
	text-align: center;
	background-color: rgba(39, 174, 96, 0.15) !important;
	color: #27ae60 !important;
	height: 19px;
	display: flex;
	padding: 2px 15px !important;
	border-radius: 20px !important;
	justify-content: center;
	align-items: center;
	width: 80px;
}

.lostText {
	background-color: #f2c94c !important;
	color: #12122c !important;
	font-family: "Avenir";
	font-style: normal;
	font-weight: 500 !important;
	font-size: 12px !important;
	line-height: 16px;
	text-align: center;
	background: rgba(235, 87, 87, 0.15) !important;
	color: #eb5757 !important;
	height: 19px;
	display: flex;
	padding: 2px 15px !important;
	border-radius: 20px !important;
	justify-content: center;
	align-items: center;
	width: 80px;
}