.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	&>a {
		font-family: 'Avenir';
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #2f80ed;
		padding: 0 46px;
		margin-top: -10px;
		margin-bottom: 80px;
		opacity: 1;
		transition: opacity 0.5s ease;

		// &:hover {
		// 	opacity: 0.9;
		// }
	}

	.header {
		margin-top: 27px;
	}


	.sectionOne {
		background: #FFFFFF;
		border: 1px solid #DFDFDF;
		border-radius: 20px;
		margin-top: 20px;

		.section_header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 27px 32px;
			border-bottom: 1px solid #EFF3F8;
			flex-flow: row wrap;

			&>div:nth-of-type(1) {
				display: flex;
				align-items: center;
				gap: 10px;

				h2 {
					font-family: 'Avenir';
					font-style: normal;
					font-weight: 500;
					font-size: 24px;
					line-height: 33px;

					color: #000000;
				}

				p {

					font-family: 'Avenir';
					font-style: normal;
					font-weight: 500;
					font-size: 12px;
					line-height: 16px;
					text-align: center;
					color: #006629;


				}
			}

			button {
				background-color: unset;
				border-radius: 20px;
				border: 1px solid #27AE60;
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 19px;
				letter-spacing: 0.0024px;
				color: #095B2C;
				display: flex;
				justify-content: center;
				align-items: center;

				&:hover {
					opacity: .8;
					background-color: #27AE60;
					color: #fff;
				}
			}

		}

		.refundDetails {
			padding: 39.5px 32px 29.5px 32px;
			display: flex;
			align-items: center;
			gap: 4rem;
			flex-flow: row wrap;

			div:not(:nth-of-type(1)) {
				border-left: #EFF3F8 solid 1px;
				padding-left: 3rem;

				@media screen and (max-width:602px) {
					&:nth-of-type(3) {
						padding: 0;
						border: none;
					}
				}

				@media screen and (min-width:637px) and (max-width:1113px) {
					&:nth-of-type(4) {
						padding: 0;
						border: none;
					}
				}
			}

			span {
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 19px;

				color: #828282;
			}

			h2 {
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 19px;
				margin-top: 4px;
				color: #333333;
			}
		}
	}

	.payment_info {
		background: #FFFFFF;
		border: 1px solid #DFDFDF;
		border-radius: 20px;
		margin-top: 30px;


		.payment_header {
			padding: 40px 31px 20px 31px;
			border-bottom: 1px solid #EFF3F8;

			h2 {
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 25px;
				color: #333333;
			}
		}

		.payment_details {
			padding: 20px 32px 41px 32px;
			display: flex;
			align-items: center;
			column-gap: 1rem;
			row-gap: 2rem;
			flex-flow: row wrap;

			&>div {
				min-width: 200px;



			}

			span {
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 19px;
				letter-spacing: 0.0024px;

				color: #828282;
			}

			h2 {
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 19px;
				color: #333333;
				margin-top: 4px;
			}

			.copy__details {
				display: flex;
				gap: 10px;
				align-items: center;

			}
		}
	}

	.refund_info {

		background: #FFFFFF;
		border: 1px solid #DFDFDF;
		border-radius: 20px;
		margin-top: 30px;


		.refund_header {
			padding: 40px 32px 20px 32px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-flow: row wrap;
			border-bottom: 1px solid #EFF3F8;

			button {
				background-color: unset;
				border-radius: 20px;
				border: 1px solid #27AE60;
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 19px;
				letter-spacing: 0.0024px;
				color: #095B2C;
				display: flex;
				justify-content: center;
				align-items: center;

				&:hover {
					opacity: .8;
					background-color: #27AE60;
					color: #fff;
				}
			}
		}

		.refund_info_Details {
			display: flex;
			align-items: center;
			flex-flow: row wrap;
			padding: 20px 32px;
			column-gap: 1.8rem;
			row-gap: 3rem;

			&>div {
				min-width: 200px;
			}

			span {
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 19px;
				letter-spacing: 0.0024px;
				color: #828282;
			}

			h2 {
				margin-top: 5px;

				font-family: 'Avenir';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 19px;

				color: #333333;
			}
		}

		.refund_reason {
			padding: 21px 32px;
			border-top: 1px solid #EFF3F8;

			h2 {
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 19px;

				color: #828282;
			}

			p {

				font-family: 'Avenir';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 19px;
				margin-top: 7px;
				color: #333333;
				width: 50%;



				@media screen and (max-width:768px) {
					width: 100%;
				}
			}
		}
	}
}


.payment_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
	gap: 30px;
	background-color: transparent;
	margin-top: 30px;


	&>div {
		width: 100%;
		background: #FFFFFF;
		border: 1px solid #DFDFDF;
		border-radius: 20px;
		height: 333px;

		@media screen and (max-width:1086px) {
			width: 100%;
		}
	}
}

.last__section__header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 80px;
	border-bottom: 1px solid #EFF3F8;
	padding: 22px 32px;
	flex-flow: row wrap;

	&>div {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: row wrap;
		gap: 10px;



		span {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 16px;
			color: #4F4F4F;
		}

		h2 {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 25px;
			/* identical to box height */


			color: #333333;
		}

		.success {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 19px;
			text-transform: capitalize;
			color: #219653;
		}

		.danger {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 19px;
			text-transform: capitalize;
			color: #EB5757;
		}
	}



}

.paymentStage {

	// padding: 1px 12px;
	.last__section__header {
		padding: 22px 32px;
	}

	svg {
		width: 20px;
		height: 20px;

		path {
			stroke: #27AE60;
		}




	}

	.stepWrapper {
		padding-left: 30px;
		width: 90%;
		margin-top: 20px;

	}



	.steplabel {
		h3 {

			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;
			/* identical to box height */
			color: #333333;
			margin-top: 20px;
		}

		p {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 16px;
			color: #333333;
		}

		span {
			color: #828282;
		}
	}
}


.optionalContainer {
	display: flex;
	flex-flow: row wrap;
	gap: 10px;

	&>div {

		h3 {
			font-family: 'Avenir semibold';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;
			display: block;
			color: #333333;
		}


		p {
			display: block;
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 19px;
			color: #219653;
			margin-top: 1rem;


			span {
				font-weight: 400;
				font-size: 12px;
				line-height: 16px;
				margin-top: 1rem;
				color: #4F4F4F;
			}

		}


	}

	.error {

		display: block;

		p {
			color: #EB5757;
		}

		span {
			margin-left: 10px;
		}
	}

	.timeBox {
		margin-top: -0.1rem;
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		color: #333333;

		span {
			color: #BDBDBD;
		}
	}
}



.link {
	padding-inline: 32px;
	margin-top: 50px !important;
	// margin-bottom: 2rem !important;
	cursor: pointer;

	p {
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		/* identical to box height */
		color: #2F80ED;
	}

}

.customerInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 32px;
	flex-flow: row wrap;

	.customerInfo_left {
		display: flex;
		// align-items: center;
		flex-flow: row wrap;
		gap: 10px;

		p {
			font-family: 'Avenir semibold';
			font-style: normal;
			font-weight: 500;
			font-size: 15px;
			line-height: 20px;

			color: #000000;
		}

		span {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 13px;
			line-height: 18px;
			/* identical to box height */


			color: #000000;
		}


	}

	.blacklist {
		cursor: pointer;

		p {
			color: #EB5757;
			display: flex;
			align-items: center;
			gap: 5px;
		}

		@media screen and (max-width:1086px) {
			margin-top: 2rem;
		}
	}
}

.profile {
	@extend .link;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 79px;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;

	svg {
		width: 20px;
		height: 20px;
		// color: #2F80ED;

		path {
			stroke: #2F80ED;
		}
	}
}