.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 22px;
  position: relative;

  &>hr {
    background-color: #E0E0E0;
  }
}

.pageWrapper {
  // padding: 2rem;
  margin-bottom: 4rem;
}


.historyTopContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;

  // @media screen and (max-width: 970px) {
  //   flex-direction: column;
  //   align-items: flex-start;
  //   gap: .75rem;
  // }

  // @media screen and (max-width: 570px) {
  //   flex-direction: column;
  //   align-items: flex-start;
  //   gap: .75rem;
  // }

  &>div {
    &>p {
      color: #333;
      font-size: 1.25rem;
    }
  }
}

.tableContainer {
  margin-top: 13px;
}

.tableBodyText {
  font-size: .875rem;
  color: #333;
  font-weight: 400;
  cursor: pointer;
}

.pendingText {
  background-color: #f2c94c !important;
  color: #12122c !important;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 12px !important;
  // line-height: 16px;
  text-align: center;
  background: rgba(242, 201, 76, 0.15) !important;
  color: #b99528 !important;
  height: 19px;
  display: flex;
  padding: 4px 15px !important;
  border-radius: 20px !important;
  justify-content: center;
  align-items: center;
  width: 80px;
  text-transform: capitalize;
}


.wonText {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 16px;
  text-align: center;
  background-color: rgba(39, 174, 96, 0.15) !important;
  color: #27ae60 !important;
  height: 19px;
  display: flex;
  padding: 4px 15px !important;
  border-radius: 20px !important;
  justify-content: center;
  align-items: center;
  width: 80px;
  text-transform: capitalize;
}

.lostText {
  background-color: #f2c94c !important;
  color: #12122c !important;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 5px;
  text-align: center;
  background: rgba(235, 87, 87, 0.15) !important;
  color: #eb5757 !important;
  height: 19px;
  display: flex;
  padding: 4px 15px !important;
  border-radius: 20px !important;
  justify-content: center;
  align-items: center;
  width: 80px;
  text-transform: capitalize;
}

.capitalize {
  text-transform: capitalize;
  color: #333;
}

.amount {
  display: flex;
  align-items: center;
  // justify-content: center;
  // border: 2px solid red;
  gap: 1px;


  &>h2 {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #333333;

    span {
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #828282;
      margin-right: 2px;
    }
  }
}



/* Rectangle 72 */