.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	&>a {
		font-family: 'Avenir';
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #2f80ed;
		padding: 0 46px;
		margin-top: -10px;
		margin-bottom: 80px;
		opacity: 1;
		transition: opacity 0.5s ease;

		// &:hover {
		// 	opacity: 0.9;
		// }
	}

	.header {
		margin-top: 27px;
	}
}

// .header {
// 	height: 115px;
// 	width: 100%;
// 	padding: 26px 0;
// 	border-bottom: 1px solid #e0e0e0;
// 	display: flex;
// 	flex-direction: column;

// 	&>span {
// 		display: flex;
// 		align-items: center;
// 		cursor: pointer;
// 		transition: all 0.4s ease;

// 		&:hover {
// 			color: #828282;
// 		}
// 	}

// 	&>div {
// 		display: flex;
// 		justify-content: space-between;
// 		align-items: center;

// 		&>button {
// 			align-items: center;
// 			padding: 8px 16px;
// 			width: auto;
// 			min-width: 140px;
// 			height: 32px;
// 			left: 1261px;
// 			top: 139px;
// 			background: #e0e0e0;
// 			border-radius: 4px;
// 			font-style: normal;
// 			font-weight: 500 !important;
// 			font-size: 14px;
// 			line-height: 4px !important;
// 			color: #333333;
// 		}

// 		&>div {
// 			display: flex;
// 			margin-top: 24px;

// 			&>div {
// 				margin: auto 24px !important;
// 				width: 80px;
// 				height: 19px;
// 				padding: 2px 10px;
// 				font-family: Avenir;
// 				font-style: normal;
// 				font-weight: 500;
// 				font-size: 12px;
// 				line-height: 4px !important;
// 				text-align: center;
// 				color: #ffffff;
// 			}

// 			&>h2 {
// 				font-family: Avenir;
// 				font-style: normal;
// 				font-weight: bold;
// 				font-size: 24px;
// 				line-height: 28px;
// 				color: #333333;
// 			}
// 		}
// 	}
// }

.customerDetails {
	padding: 30px 32px;
	width: 100%;
	height: auto;
	// min-height: 80px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	background-color: #fff;


	&>div {
		&>div {
			margin-top: 8px;

			&>span {
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 19px;
				color: #828282;
				margin-bottom: 7px !important;
			}

			&>h2 {
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 19px;
				margin-top: 7px;
				color: #333333;
			}
		}
	}

	&>div:not(:first-child) {
		display: flex;
		justify-content: center;
		border-left: 1px solid #e0e0e0;
	}

	&>.cta {
		&>button {
			font-family: Inter;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			text-align: right;
			color: #eb5757;
			padding: 0;
			margin-left: auto;
			background-color: transparent;
			display: flex;
			align-items: center;

			&>svg {
				margin-left: 5px;
			}
		}
	}

	@media screen and (max-width:768px) {
		grid-template-columns: 1fr;

		&>div {
			padding: 10px;

			&>div {
				width: 100%;
			}

		}

		&>div:not(:first-child) {

			border-left: none;
		}
	}
}

// .title {
// 	padding: 14px 0;
// 	margin-top: 60px;
// 	border-bottom: 1px solid #e0e0e0;
// 	display: flex;
// 	align-items: baseline;

// 	&>div {
// 		display: flex;
// 		align-items: baseline;
// 		margin-left: 60px;

// 		&>h2 {
// 			font-family: Avenir;
// 			font-style: normal;
// 			font-weight: 500;
// 			font-size: 14px;
// 			// line-height: 16px;
// 			margin-right: 10px;

// 			&.success {
// 				color: #219653;
// 			}

// 			&.danger {
// 				color: #eb5757;
// 			}
// 		}
// 	}

// 	&>h2 {
// 		font-family: Avenir;
// 		font-style: normal;
// 		font-weight: bold;
// 		font-size: 18px;
// 		line-height: 21px;
// 		color: #333333;
// 	}
// }

.paymentStage {
	padding: 26px 0;

	&>div {
		display: flex;
		align-items: flex-start;
		margin-bottom: 18px;

		&>svg {
			margin-right: 8px;
		}

		&>div {
			display: flex;
			flex-direction: column;

			&>h2 {
				line-height: 19px;
				font-family: Avenir;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				color: #333333;
			}

			&>p {
				margin-top: 4px;
			}
		}
	}
}




.sectionOne {
	background-color: #fff;
	border-radius: 20px;
	margin-top: 20px;


	.headerTitle {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #EFF3F8;
		padding: 22px 32px;
		flex-flow: row wrap;


	}

	.amt_box {
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: flex-start;
		flex-flow: row wrap;


	}

	svg {
		path {
			stroke: #2F80ED;
			margin-left: 5px;
		}
	}

	.refundBtn {
		background-color: unset;
		border-radius: 20px;
		border: 1px solid #27AE60;
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: 0.0024px;
		color: #095B2C;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			opacity: .8;
			background-color: transparent;
		}
	}

}


.pendingText {
	background-color: #f2c94c !important;
	color: #12122c !important;
	font-family: "Avenir";
	font-style: normal;
	font-weight: 500 !important;
	font-size: 12px !important;
	// line-height: 16px;
	text-align: center;
	background: rgba(242, 201, 76, 0.15) !important;
	color: #b99528 !important;
	height: 19px;
	display: flex;
	padding: 4px 15px !important;
	border-radius: 20px !important;
	justify-content: center;
	align-items: center;
	width: 80px;
}


.wonText {
	font-family: "Avenir";
	font-style: normal;
	font-weight: 500 !important;
	font-size: 12px !important;
	line-height: 16px;
	text-align: center;
	background-color: rgba(39, 174, 96, 0.15) !important;
	color: #27ae60 !important;
	height: 19px;
	display: flex;
	padding: 4px 15px !important;
	border-radius: 20px !important;
	justify-content: center;
	align-items: center;
	width: 80px;
}

.lostText {
	background-color: #f2c94c !important;
	color: #12122c !important;
	font-family: "Avenir";
	font-style: normal;
	font-weight: 500 !important;
	font-size: 12px !important;
	line-height: 5px;
	text-align: center;
	background: rgba(235, 87, 87, 0.15) !important;
	color: #eb5757 !important;
	height: 19px;
	display: flex;
	padding: 4px 15px !important;
	border-radius: 20px !important;
	justify-content: center;
	align-items: center;
	width: 80px;
}


.last__section__header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 80px;
	border-bottom: 1px solid #EFF3F8;
	padding: 22px 32px;
	flex-flow: row wrap;

	&>div {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: row wrap;
		gap: 10px;



		span {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 16px;
			color: #4F4F4F;
		}

		h2 {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 25px;
			/* identical to box height */


			color: #333333;
		}

		.success {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 19px;

			color: #219653;
		}

		.danger {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 19px;

			color: #EB5757;
		}
	}


}

.paymentStage {
	padding: 22px 32px;

	svg {
		width: 20px;
		height: 20px;

		path {
			stroke: #27AE60;
		}


	}

	h2 {
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		/* identical to box height */
		color: #333333;
	}

	p {
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		color: #333333;
	}
}