* {
	border: none;
	outline: none;
}

button {
	cursor: pointer;
}

.tableContainer {
	// padding: 25px 56px;

	.tableHeader {
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5px;
		margin-top: 16px;
		flex-flow: row wrap;

		&>h2 {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 27px;
			color: #333333;
		}

		&>div {
			display: flex;
			align-items: center;

			&>button {
				padding: 8px 16px;
				width: auto;
				min-width: fit-content;
				height: 32px;
				left: 857px;
				top: 0px;
				background: #e0e0e0;
				border-radius: 20px;
				font-family: "Avenir";
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 0.0024px;
				color: #333333;
				margin: 0px 4px;
				display: flex;
				align-items: center;

				&>svg {
					width: 15px;
					margin-left: 5px;
				}

				&:last-child {
					background: #27ae60;
					color: #ffff;
				}

				&:nth-of-type(2) {
					background: transparent;
					color: #27ae60;
					border: 1px solid #27ae60;
				}


				&:not(:last-child) {
					margin-right: 10px;
				}
			}
		}

		@media screen and (max-width:768px) {
			height: 100px;
		}
	}
}

.amount {
	display: flex;

	&>span {
		font-family: "Avenir";
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #828282;
	}

	&>h2 {
		font-family: "Avenir";
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		margin-left: 8px;
		color: #333333;
	}
}

.date {
	display: flex;
	align-items: center;

	&>span {
		font-family: "Avenir";
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #828282;
		margin-left: 4px;
	}

	&>h2 {
		font-family: "Avenir";
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #333333;
	}
}

.actionIcon {
	color: #4f4f4f;
}

.menuContainer {
	margin-left: -100px !important;

	&>div:not(:last-child) {
		border-bottom: 1px solid #f8f8f8 !important;
	}
}

.headerBtn {
	// border: 2px solid red;

	&>button {
		padding: 8px 16px;
		width: auto;
		min-width: fit-content;
		height: 32px;
		left: 857px;
		top: 0px;
		background: red !important;
		border-radius: 20px;
		font-family: "Avenir";
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.0024px;
		color: #333333;
		margin: 0px 4px;
		display: flex;
		align-items: center;

		&>svg {
			width: 15px;
			margin-left: 5px;
		}

		&:last-child {
			background: #27ae60;
			color: #ffff;
		}

		&:not(:last-child) {
			margin-right: 10px;
		}
	}
}

.menu__container {
	min-width: 4rem;
	min-height: 1rem;
	margin-top: 3px;
	// background-color: red;

	&>div {
		padding: 1.2rem;
		border: 0.5px solid #EBEBEB;
		font-size: 14px;
		// line-height: 2rem;
		letter-spacing: 0.0024px;
		color: #333333;
		cursor: pointer;

		&:last-child,
		&:first-child {
			border: none;
			margin-bottom: 0;
		}

		&:hover {
			background-color: #cdcdcd;
			color: #fff;
			padding: 1.2rem;
		}
	}
}


svg {
	margin: 0;
}



.details__container {
	width: 100%;
	margin-inline: auto;
	border-radius: 20px;
	margin-top: 57px;


	svg {
		margin: 0;
	}

	.goBack {
		display: flex;
		align-items: center;

		p {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;

			color: #4F4F4F;
		}
	}

	.sectionOne {
		width: 100%;
		min-height: 192px;

		margin-top: 20px;
		background: #FFFFFF;
		border-bottom: 1px solid #DFDFDF;
		border-radius: 20px;

		.sectionHeader {

			display: flex;
			align-items: center;
			gap: 10px;

			h2 {
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 33px;

				color: #333333;
			}

			span {
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 500;
				font-size: 12px;
				line-height: 16px;
				text-align: center;
				background: #FDF7E4;
				border-radius: 20px;
				width: 118px;
				height: 19px;
				color: #B99528;
			}

		}

		.btn {


			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			border-radius: 20px;
			letter-spacing: 0.0024px;

			color: #095B2C;
			background-color: transparent;
			border: 1px solid #095B2C;
		}
	}


	.sectionTwo {
		span {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			letter-spacing: 0.0024px;

			color: #828282;
		}

		p {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			margin-top: 7px;
			color: #333333;
		}
	}
}

.recent {


	h2 {
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 500 !important;
		font-size: 18px;
		line-height: 25px;
		color: #333333;
		padding: 5px 0px;
		margin-top: 30px;
	}

}

.status {
	background: rgba(39, 174, 96, 0.15);
	border-radius: 20px;
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	padding: 3px 12px;
	color: #27AE60;
}

.pending {
	@extend .status;
	background: rgba(242, 201, 76, 0.15);
	color: #B99528;
}


// remove
.modalHeader {
	border-bottom: 1px solid #E0E0E0;
	padding: 22px 50px;

	h2 {
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
		color: #4F4F4F;
	}
}

.bodyText {
	color: red;
	padding-inline: 50px;
	margin-top: 36px;

	p {
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: #333333;
	}
}

.removeBtn {
	margin-top: 15px;
	max-width: 100%;

	.btnWrapper {

		button {
			border-radius: 20px;
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			letter-spacing: 0.0024px;
			padding: 5px 30px;

		}

		.cancelBtn {
			background-color: transparent;
			border: 1px solid #27AE60;
			color: #095B2C;
		}

		.confirmBtn {
			font-size: 14px;
			line-height: 26px;
			font-weight: 500px;
		}
	}
}