.tableContainer {
	padding: 25px 56px;

	.tableHeader {
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 16px;

		&>h2 {
			font-family: Avenir;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 23px;
			color: #333333;
		}

		&>div {
			display: flex;
			align-items: center;

			&>button {
				padding: 8px 16px;
				width: auto;
				min-width: fit-content;
				height: 32px;
				left: 857px;
				top: 0px;
				background: #e0e0e0;
				border-radius: 20px;
				font-family: "Avenir";
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 0.0024px;
				color: #333333;
				margin: 0px 4px;
				display: flex;
				align-items: center;

				&>svg {
					width: 15px;
					margin-left: 5px;
				}

				&:last-child {
					background: #27ae60;
					color: #ffff;
				}

				&:not(:last-child) {
					margin-right: 10px;
				}
			}
		}
	}
}

.amount {
	display: flex;

	&>span {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #828282;
	}

	&>h2 {
		font-family: Avenir;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		margin-left: 8px;
		color: #333333;
	}
}

.date {
	display: flex;
	align-items: center;

	&>span {
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
		color: #333333;
	}

	&>h2 {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #333333;
	}
}

.actionIcon {
	color: #4f4f4f;
}

.menuContainer {
	margin-left: -100px !important;
	border-radius: 20px;
	border: 2px solid red;

	&>div:not(:last-child) {
		border-bottom: 1px solid #f8f8f8 !important;
	}
}




.headerBox {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 20px;

	button {

		border-radius: 20px;
		display: flex;
		align-items: center;
		justify-content: center;

		&:nth-of-type(1) {
			background: #E0E0E0;
			color: #333;
		}

		&:nth-of-type(2) {
			background: transparent;
			color: #095B2C;
			border: 1px solid #27AE60;
		}

		svg {
			margin: 0;
		}
	}
}

.pending {
	width: 80px;
	border-radius: 20px;
	padding: 3px 8px;
	text-align: center;
	font-size: 12px;
	color: #12122c;
	font-weight: 500;
	cursor: pointer;
	background: #FDF7E4;
	text-transform: capitalize;
	color: #B99528;
}



// pendiing detail
.details__container {
	width: 95%;
	margin-inline: auto;
	border-radius: 20px;
	margin-top: 57px;

	svg {
		margin: 0;
	}

	.goBack {
		display: flex;
		align-items: center;

		p {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;

			color: #4F4F4F;
		}
	}

	.sectionOne {
		width: 95%;
		min-height: 192px;

		margin-top: 20px;
		background: #FFFFFF;
		border-bottom: 1px solid #DFDFDF;
		border-radius: 20px;

		.sectionHeader {

			display: flex;
			align-items: center;
			gap: 10px;

			h2 {
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 33px;

				color: #333333;
			}

			span {
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 500;
				font-size: 12px;
				line-height: 16px;
				text-align: center;
				background: #FDF7E4;
				border-radius: 20px;
				width: 118px;
				height: 19px;
				color: #B99528;
			}

		}

		.btn {


			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			border-radius: 20px;
			letter-spacing: 0.0024px;

			color: #095B2C;
			background-color: transparent;
			border: 1px solid #095B2C;
		}
	}


	.sectionTwo {
		span {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			letter-spacing: 0.0024px;

			color: #828282;
		}

		p {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			margin-top: 7px;
			color: #333333;
		}
	}
}

.sectionThree {
	width: 95%;
	height: 192px;
	background: #FFFFFF;
	border: 1px solid #DFDFDF;
	border-radius: 20px;
	margin-top: 30px;


	.sectionThree__Header {
		border-bottom: 1px solid #DFDFDF;
		padding: 20px;

		p {
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 25px;
			/* identical to box height */


			color: #333333;
		}
	}
}