.helperText {
    font-family: 'Avenir';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: #828282;
}

button {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 14.3448px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}