@import "../../components/color/color.module.scss";

.menuTitle {
  font-family: 'Avenir SemiBold';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: #C7C7C7;
  text-transform: uppercase;

}

.container {
  // height: 100%;
  // border: 2px solid blue;

  &>.userInfo {
    padding-inline: 21px;
    width: 201px;
    height: 80px;
    margin-inline: auto;
    background: $main_dark;
    border: 0.6px solid #8cabbe;

    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;

    &>div {
      p {
        color: $light_text;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-left: 5px;
      }
    }
  }

  .userProfile__text {

    width: 140px;

    .userProfile__userName {
      display: flex;
      align-items: flex-start;


    }

    // gap: 5px;
    span {
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 10px;
      color: #C6C6C6;
      display: block;
    }

    p {
      font-family: 'Avenir bold';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 28px;
      display: block;
      color: #FEFEFE;
      text-transform: capitalize;

    }


  }

  .user__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

nav {
  // // width: 100%;
  // border: 2px solid red;

  // @media screen and (max-width:700px) {
  //   display: none !important;
  // }

  // margin-top: 1rem;

  // margin-top: -rem;

  li {
    list-style: none;
    font-weight: 100 !important;
    width: 100% !important;
    font-size: 16px;
    line-height: 45px;
    font-family: "Avenir";
    // gap: 10px;
    color: $light;
    cursor: pointer;
    // gap: 20px;
    display: flex;
    padding-inline: 20px;
    align-items: center;

    .linkIcon {
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 1px solid red;
      margin-right: 3px;
      height: 40px;
    }

    &:hover,
    &.active {
      background: rgba(39, 174, 96, 0.06);
      color: $secondary;
      width: 100%;
      position: relative;
      // border-left: 3px solid #27AE60;
      // border-top-left-radius: 6px;
      // border-bottom-left-radius: 6px;

      svg {
        path {
          stroke: $secondary;
        }
      }
    }

    svg {

      margin-right: 20px;

      path {
        stroke: #fff;
      }
    }
  }


}


.setup {

  background: #EB5757;
  border: 0.4px solid #EB5757;
  color: #fff;
  height: 34px;
  margin-bottom: 15px;
}

.replaced_not {
  display: none;
}

.replaced_yen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

// header
.header__box {
  // height: 100%;
  // background-color: $body;
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  // border: 1px solid;


  svg {
    margin: 0;
  }
}

.left__container {
  height: 4.7rem;
  // border: 2px solid red;


}

// input {
//   width: 433px;
//   height: 35px;

//   background: #fbfbfb;
//   border: 1px solid #dddddd;
//   border-radius: 10px;
//   // border: 2px solid blue;
// }

.toggleButton {

  border-radius: 17.5px;
  // width: 200px;
  // height: 35px;
  // gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-inline: 3px;
  margin-right: 3rem;
}

.usersProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  // border: 2px solid red;
  margin-left: 2rem;

  .userProfileImg__container {
    display: flex;

    width: 3rem;
    justify-content: flex-start;
    align-items: center;
  }

  .userProfileImg {
    svg {
      width: 30.8px;
      height: 30.8px;
    }
  }

  .arrowDown {
    margin-right: -8rem !important;
    // border: 2px solid red;
  }
}

.input__box {
  display: flex;
  position: relative;

  input {
    padding-left: 10px;
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
  }
}

.left__container {
  height: 4.7rem;
}

input {
  width: 433px;
  height: 35px;
}

.backBtn {
  margin-top: 43px;
  padding: 10px 20px;

  button {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #9ea2b2;
    text-transform: inherit;


  }
}

.left__header {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-left: 10px;

  .title {
    font-family: 'Avenir bold';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #041926;
    display: flex;
  }

  .input__box {
    flex: 1;
  }
}



.userMenuText {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;

  color: #333333;
}

.userName__box {
  h2 {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #333333;
  }

  p {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #6B6B6B;
  }
}

.menuBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  // border-radius: 20px;
  width: 201px !important;

  .menuItem {
    padding: 8px 10px !important;
    border-bottom: 0.6px solid #DFDFDF;
    width: 201px !important;
    margin: 0;

    &:hover {
      background-color: transparent !important;
      opacity: .9;
    }

  }

  .menuItems {
    @extend .menuItem;
    border: none;
  }

  .menuItemSearch {
    padding: 18px 10px;
    // width: 100%;
    border: none;
  }

}

.comingsoon {
  margin-left: 13px;
  min-width: 72px;
  height: 19px;
  background: #F15050;
  border-radius: 5px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}