label {
    padding: 0 !important;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #333333;


}

.businessBtn {
    background: #27ae60 !important;
    border-radius: 20px !important;
    width: 100%;
    font-family: 'Avenir' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 1rem !important;
    line-height: 1.2rem !important;
    text-align: center;
    height: 44px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff !important;
}


.checkBoxText {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #212B36;
}