.airtime_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #333333;
  }

  & div > button {
    height: 2rem;
    background: #27ae60;
    border-radius: 0.25rem;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1rem;

    color: #ffffff;
  }
}
