.airtime_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	width: 100%;

	h3 {
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 23px;

		color: #333333;
	}

	& div>button {
		// height: 3rem;
		background: #27ae60;
		border-radius: 20px;
		outline: none;
		border: none;
		padding: 7.5px 16px;
		height: 35px;
		cursor: pointer;

		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 0.9rem;
		line-height: 1rem;

		color: #ffffff;
	}
}