.form__title {
	border-bottom: 1px solid #e0e0e0;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	h3 {
		padding-left: 3.3rem;
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 1.13rem;
		line-height: 1.2rem;
		color: #828282;
	}
}

.payment__input__container {
	// min-height: 37.4rem;
	// width: 26.1rem;
	background: #ffffff;
	box-shadow: -4px 4px 14px rgba(224, 224, 224, 0.69);
	border-radius: 20px;
	width: 419px;
	height: 551px;
	// padding-inline: 19px;

	.airtime_form__body {
		padding-inline: 3.6rem;
		width: 100%;


		form {
			width: 100%;
			margin-top: 1.9rem;

			label {
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 400;
				font-size: 0.9rem;
				line-height: 1rem;
				padding: 10px 0;
				color: #414141;




			}

			&>div {
				margin-top: 2.2rem;

			}

			select,

			// input {
			// 	border: 2px solid red;
			// 	width: 100% !important;
			// 	height: 44px;
			// 	// background: #ffffff;
			// 	border: 1px solid #dddd;
			// 	border-radius: 0.3rem;
			// 	// margin-top: 1.6rem;
			// 	padding-inline: 1rem;
			// }

			.button {
				background: #27ae60;
				border-radius: 20px;
				// margin-bottom: 1.4;
				width: 100%;
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 700;
				font-size: 1rem;
				line-height: 1.2rem;
				text-align: center;
				height: 44px;
				margin-top: 2.5rem;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #ffffff;


			}
		}
	}
}

// bulk payment

.bulk__payment__container {
	width: 100%;
	margin-inline: auto;


	h3 {
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 1.3rem;
		line-height: 23px;

		color: #333333;
	}

}

.files_text {
	border-bottom: 1px solid #e0e0e0;
	height: 11rem;
	padding-inline: 3rem;
	border: 1px 0px #414141;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 40px;
	// background-color: red;

	h4,
	p {
		// margin-top: 1.9rem;

		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 19.2px;

		color: #4f4f4f;
		// border: 2px solid red;
	}

	p {
		margin-top: 1rem;
	}

	span {
		color: #333333;
		font-weight: 600;
	}

	button {
		border: red 1px solid;
	}
}

.upload_csv {
	// padding-inline: 2.7rem;
	// width: 86%;
	padding-inline: 45px;
	// border: #27AE60 1px solid;
	margin-top: 2.5rem;


	input {
		display: none;
	}

	label {
		width: 100% !important;
		height: 2.8rem;
		background: #ffffff;
		border: 1px solid #dddddd;
		border-radius: 0.3rem;
		margin-top: 0.3rem;
		padding-inline: 1rem;
		display: flex;
		align-items: center;
	}

	h4 {
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
		/* identical to box height */


		color: #4F4F4F;
	}

	p {
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;

		color: #4F4F4F;
	}

	button {
		margin-top: 2.2rem;
		background: #27ae60;
		border-radius: 20px;
		width: 100%;
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 700;
		font-size: 1rem;
		// line-height: 1.2rem;
		height: 44px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
	}

	.downloadIcon {
		margin-right: 10px;
	}
}

.bulk__payment__input__container {
	@extend .payment__input__container;
	// background-color: #f8f8f8 !important;
	height: 481px;
	width: 100%;
	box-shadow: none;
	// display: none;
}

// bulk__bill__payment__container

.bulk__bill__payment__container {
	width: 95%;
	height: 100%;
	margin-inline: auto;
	height: 35rem;
	// background-color: #f8f8f8;
	// margin-top: 2.5rem;

	h3 {
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 1.3rem;
		line-height: 23px;

		color: #333333;
	}

	.bill_form__body {

		@extend .airtime_form__body;
		height: 540px !important;
		background-color: transparent !important;
		border-radius: 0;
	}

	.bulk_payment_body {
		height: 100%;



	}


}

.line {
	height: 481px;
	background-color: #333333;
	width: 1px;
	position: relative;

	&::after {
		position: absolute;
		width: 40px;
		height: 40px;
		content: "or";
		left: 50%;
		top: 50%;
		background-color: #EFF3F8;
		border-radius: 100%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		font-weight: 100;
		align-items: center;
	}


}

.single_bill_form__body {
	@extend .airtime_form__body;
	width: 419px;
	height: 500px;

}

.single_bulk_form__body {
	@extend .single_bill_form__body;
	height: 550px;
}



.single_payment__input__container {

	width: 419px;
	height: 711px;

	background: #FFFFFF;
	box-shadow: -4px 4px 14px rgba(224, 224, 224, 0.69);
	border-radius: 20px;

	.single_bill_bulk_form__body {
		padding-inline: 35px;

		form {
			width: 100%;
			margin-top: 1.7rem;

			label {
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 400;
				font-size: 0.9rem;
				line-height: 1rem;
				padding: 10px 0;
				color: #414141;
				// border: 2px solid red;


			}

			&>div {
				margin-top: 2rem;

			}

			select,
			input {
				width: 100% !important;
				height: 44px;
				background: #ffffff;
				border: 1px solid #dddd;
				border-radius: 0.3rem;
				// margin-top: 1.6rem;
				padding-inline: 1rem;
			}


		}
	}


	.category {
		span {
			padding: 6px 11px;
			// gap: 10px;
			// width: 90px;
			height: 32px;
			background: #FFFFFF;
			border: 1px solid #DDDDDD;
			border-radius: 10px;
			color: #828282;
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			// line-height: 20px;
			text-align: center;
			cursor: pointer;
			letter-spacing: 0.00312px;


			&:hover {
				color: #27AE60;
				border: 1px solid #27AE60;
			}
		}

	}
}

svg {
	margin: 0;
}



.comfirmEntries {
	.headerTitle {
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 27px;

		color: #333333;
	}

	.confirmBtn {
		padding: 7.5px 16px;
		width: 191px;
		height: 35px;
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: 0.0024px;
		background: #27AE60;
		border-radius: 22px;

		@media screen and (max-width: 768px) {
			width: fit-content;
		}
	}
}

.btn_button {
	background: #27ae60 !important;
	border-radius: 20px !important;
	// margin-bottom: 1.4;
	width: 100%;
	font-family: 'Avenir' !important;
	font-style: normal !important;
	font-weight: 700 !important;
	font-size: 1rem !important;
	line-height: 1.2rem !important;
	text-align: center;
	height: 44px !important;
	// margin-top: 1rem;

	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff !important;


}

.label {
	padding: 0 !important;
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;

	color: #333333;


}