.form__title {
	border-bottom: 1px solid #e0e0e0;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	h3 {
		padding-left: 3.3rem;
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 1.13rem;
		line-height: 1.3rem;
		color: #828282;
	}
}

.payment__input__container {
	// min-height: 37.4rem;
	// width: 26.1rem;
	background: #ffffff;
	box-shadow: -4px 4px 14px rgba(224, 224, 224, 0.69);
	border-radius: 20px;
	// margin: 1rem;
	min-height: 485px;

	.airtime_form__body {
		padding-inline: 2.1rem;
		width: 100%;

		form {
			width: 100%;
			margin-top: 1.7rem;

			label {
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 400;
				font-size: 0.9rem;
				line-height: 1rem;
				padding: 10px 0;
				color: #414141;
				// border: 2px solid red;


			}

			&>div {
				margin-top: 2.2rem;

			}

			select,
			input {
				width: 100% !important;
				height: 44px;
				background: #ffffff;
				border: 1px solid #dddd;
				border-radius: 0.3rem;
				// margin-top: 1.6rem;
				padding-inline: 1rem;
			}

			button {
				background: #27ae60;
				border-radius: 20px;
				// margin-bottom: 1.4;
				width: 100%;
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 700;
				font-size: 1rem;
				line-height: 1.2rem;
				text-align: center;
				height: 2.8em;
				margin-top: 2.5rem;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #ffffff;


			}
		}
	}
}

// bulk payment

.bulk__payment__container {
	width: 94%;
	margin-inline: auto;
	// margin-top: 2.5rem;

	h3 {
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 1.3rem;
		line-height: 23px;

		color: #333333;
	}

}

.files_text {
	border-bottom: 1px solid #e0e0e0;
	height: 11rem;
	padding-inline: 3rem;
	border: 1px 0px #414141;
	display: flex;
	justify-content: center;
	flex-direction: column;

	h4,
	p {
		// margin-top: 1.9rem;

		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 0.9rem;
		line-height: 1rem;

		color: #4f4f4f;
	}

	p {
		margin-top: 1rem;
	}

	span {
		color: #333333;
		font-weight: 600;
	}
}

.upload_csv {
	// padding-inline: 2.7rem;
	width: 86%;
	margin-inline: auto;
	margin-top: 2.1rem;

	input {
		display: none;
	}

	label {
		width: 100% !important;
		height: 2.8rem;
		background: #ffffff;
		border: 1px solid #dddddd;
		border-radius: 0.3rem;
		margin-top: 0.5rem;
		padding-inline: 1rem;
		display: flex;
		align-items: center;
	}

	button {
		margin-top: 1.9rem;
		background: #27ae60;
		border-radius: 20px;
		width: 100%;
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 700;
		font-size: 1rem;
		// line-height: 1.2rem;
		height: 2.8em;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
	}
}

.bulk__payment__input__container {
	@extend .payment__input__container;
	// background-color: #f8f8f8 !important;
	min-height: 29.5rem !important;
	width: 100%;
	box-shadow: none;
	// display: none;
}

// bulk__bill__payment__container

.bulk__bill__payment__container {
	width: 95%;
	height: 100%;
	margin-inline: auto;
	height: 35rem;
	// background-color: #f8f8f8;
	// margin-top: 2.5rem;

	h3 {
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 1.3rem;
		line-height: 23px;

		color: #333333;
	}

	.bill_form__body {

		@extend .airtime_form__body;
		height: 540px !important;
		background-color: transparent !important;
		border-radius: 0;
	}

	.bulk_payment_body {
		height: 100%;



	}


}

.line {
	height: 481px;
	background-color: #333333;
	width: 1px;
	position: relative;

	&::after {
		position: absolute;
		width: 40px;
		height: 40px;
		content: "Or";
		left: 50%;
		top: 50%;
		background-color: #fff;
		border-radius: 100%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		font-weight: 100;
		align-items: center;
	}


}

.single_bill_form__body {
	@extend .airtime_form__body;
	width: 419px;
	height: 500px;

}

.single_bulk_form__body {
	@extend .single_bill_form__body;
	height: 550px;
}



.single_payment__input__container {

	width: 419px;
	height: 711px;

	background: #FFFFFF;
	box-shadow: -4px 4px 14px rgba(224, 224, 224, 0.69);
	border-radius: 20px;

	.single_bill_bulk_form__body {
		padding-inline: 35px;

		form {
			width: 100%;
			margin-top: 1.7rem;

			label {
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 400;
				font-size: 0.9rem;
				line-height: 1rem;
				padding: 10px 0;
				color: #414141;
				// border: 2px solid red;


			}

			&>div {
				margin-top: 2rem;

			}

			select,
			input {
				width: 100% !important;
				height: 44px;
				background: #ffffff;
				border: 1px solid #dddd;
				border-radius: 0.3rem;
				// margin-top: 1.6rem;
				padding-inline: 1rem;
			}

			button {
				background: #27ae60;
				border-radius: 20px;
				// margin-bottom: 1.4;
				width: 100%;
				font-family: 'Avenir';
				font-style: normal;
				font-weight: 700;
				font-size: 1rem;
				line-height: 1.2rem;
				text-align: center;
				height: 2.8em;
				margin-top: 1.5rem;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #ffffff;


			}
		}
	}


	.category {
		span {
			padding: 6px 11px;
			// gap: 10px;
			// width: 90px;
			height: 32px;
			background: #FFFFFF;
			border: 1px solid #DDDDDD;
			border-radius: 10px;
			color: #828282;
			font-family: 'Avenir';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			// line-height: 20px;
			text-align: center;
			cursor: pointer;
			letter-spacing: 0.00312px;


			&:hover {
				color: #27AE60;
				border: 1px solid #27AE60;
			}
		}

	}
}