.container {
	display: flex;
	flex-direction: column;
	// width: calc(100% - 269px);
	width: 100%;
	position: relative;


	&>hr {
		background-color: #e0e0e0;
	}
}

.pageWrapper {
	// padding: 2rem;
	margin-bottom: 4rem;
	margin-top: 20px;
}

.tableContainer {
	margin-top: 1rem;
}

.tableBodyText {
	font-size: 0.875rem;
	color: #333;
	font-weight: 400;
	cursor: pointer;
	margin-right: 30px;
}

.tableBodySpan {
	color: #828282;
}

.topContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 0.75rem;

	&>h3 {
		font-weight: 400;
		font-size: 1.25rem;
		color: #333;
		font-family: 'Avenir', sans-serif;
	}
}


.greenText,
.yellowText,
.redText {
	background: rgba(39, 174, 96, 0.15);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	color: #27AE60;
	width: 80px;
	height: 19px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.yellowText {
	color: #B99528;
	background: rgba(242, 201, 76, 0.15);
}

.redText {


	background: rgba(235, 87, 87, 0.15);
	color: #EB5757;
}