.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;

	

	hr {
		background-color: #e0e0e0;
	}
}

.pageWrapper {
	margin-bottom: 4rem;
}

.yellowText {
	color: #12122c;
	background-color: #f2c94c;
}

.greenText {
	color: white;
	background-color: #219653;
}

.redText {
	color: white;
	background-color: #eb5757;
}

.sectionOne {
	// padding: 0 2rem 0;
	// border-bottom: 1px solid #e0e0e0;
	margin-bottom: 8px;

	&>div {
		margin: 1.25rem 0;

		div {
			display: flex;
			align-items: center;
			color: #828282;

			&>p {
				color: #4f4f4f;
				font-size: 0.875rem;
				font-weight: 400;
			}
		}
	}

	&>p {
		font-size: 0.875rem;
		border-radius: 2px;
		text-align: center;
		text-transform: capitalize;
		font-weight: 500;
		padding: 0.2rem 2rem;
		display: inline-block;
	}
}

.sectionOneWrapper {
	border-radius: 20px;
	padding: 10px;
	background-color: #fff;
	width: 100%;
	margin-inline: auto;

	.statusBox {
		border-bottom: 1px solid #EFF3F8;
		display: flex;
		padding: 10px 20px;
		align-items: center;


		p {
			margin-left: 10px;
			padding: 5px 20px;
			background: rgba(39, 174, 96, 0.15);
			border-radius: 10px;
			font-weight: 500;
			font-size: 12px;
			line-height: 16px;
			text-align: center;

			color: #27AE60;
		}
	}
}

.sectionTwo {
	padding: 2rem;
	display: flex;
	align-items: center;
	gap: 6rem;
	flex-wrap: wrap;


	@media screen and (max-width: 1100px) {
		gap: 4rem;
	}

	@media screen and (max-width: 768px) {
		gap: 1.25rem;
	}

	&>div {
		border-left: 1px solid #e0e0e0;
		padding-left: 6rem;

		@media screen and (max-width: 1100px) {
			padding-left: 4rem;
		}

		@media screen and (max-width: 950px) {
			border-left: none;
			padding-left: 0;
		}

		&>p:first-of-type {
			color: #828282;
			font-size: 0.75rem;
			font-weight: 400;
		}

		&>p:last-of-type {
			color: #333;
			font-size: 0.875rem;
			font-weight: 500;
			margin-top: 0.5rem;
		}
	}

	&>div:first-of-type {
		border-left: none;
		padding-left: 0;
	}
}

.sectionThree {
	padding: 2rem;
	background-color: #fff;
	border-radius: 10px;
	width: 100%;
	max-width: 100%;
	margin-inline: auto;
	margin-top: 2rem;

	&>h3 {
		font-family: 'Avenir', sans-serif;
		font-weight: 700;
		color: #333;
		font-size: 1.2rem;
		padding-bottom: 0.75rem;
		border-bottom: 1px solid #e0e0e0;
	}

	&>div {
		display: flex;
		gap: 2rem;

		&>div {
			&>p:first-of-type {
				color: #828282;
				font-size: 0.75rem;
				font-weight: 400;
			}

			&>p:last-of-type {
				color: #333;
				font-size: 0.875rem;
				font-weight: 400;
				margin-top: 0.5rem;
			}
		}
	}
}

.sectionFour {
	padding: 2rem;
	background-color: #fff;
	border-radius: 10px;
	width: 100%;
	max-width: 100%;
	margin-inline: auto;
	margin-top: 2rem;

	&>div:first-of-type {
		border-bottom: 1px solid #e0e0e0;
		display: flex;
		align-items: center;
		gap: 2rem;
		padding-bottom: 0.75rem;
		flex-wrap: wrap;

		&>h3 {
			font-family: 'Avenir', sans-serif;
			font-weight: 700;
			color: #333;
			font-size: 1.2rem;
			margin-bottom: 0;
		}

		&>p {
			color: #4f4f4f;
			font-size: 0.75rem;
			font-weight: 400;
		}
	}

	&>div:last-of-type {
		margin-top: 2rem;
		display: grid;
		grid-gap: 1rem;

		&>div {
			display: flex;
			gap: 0.5rem;
			align-items: center;

			&>p {
				color: #333;
				font-weight: 400;
				font-size: 1rem;
			}
		}
	}
}