.container {
  width: 100%;
  height: 318.72px;
  background: #fbfefd;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  position: relative;
  // overflow: scroll;
  // @media screen and (max-width:768px) {

  // }

  @media screen and (max-width:768px) {
    height: auto;

  }
}

.header {
  height: auto;
  min-height: 68px;
  width: 100%;
  padding: 18px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fbfefd;



  &>h2 {
    font-size: 16px;
    // border: #27ae60 1px solid;

  }
}

.listItem {
  height: 55px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  border: 2px solid red;


  &>h2 {
    font-size: 16px;
    font-weight: 400;
    color: #27ae60;
    color: red !important;
  }
}

.menuContainer {
  width: 100%;
  height: 100%;


  &>.menuHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    width: 100%;
    padding: 0 26px;
    border-bottom: 1px solid #e5e9ec;

    &>h2 {
      font-weight: 500;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #4f4f4f;
    }
  }

  &>.menuFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    width: 100%;
    padding: 0 26px;
    border-top: 1px solid #e5e9ec;
    display: flex;
    justify-content: center;
    align-items: center;

    &>button:last-child {
      margin-left: 20px;
      background-color: #27ae60;
      color: #fff;
    }
  }

  &>.menuContent {
    padding: 30px 26px;
    height: auto;

    &>div:not(:first-child) {
      margin-top: 20px;
    }

    &>div {
      &>span {
        font-style: normal;
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 16px;
        color: #333333;
      }

      &>div {
        width: 100%;
      }
    }
  }
}

.tableContent {
  height: 100%;
  width: 100%;
  height: 320px;
  overflow: auto;

  @media screen and (max-width:768px) {
    max-height: auto;
    padding: 20px 0;
  }
}


.overview__header {
  // border: 1px solid red !important;

  h2 {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14.4405px;
    line-height: 17px;
    letter-spacing: 0.0028881px;
    color: #041926;
  }

  span {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 12.3776px;
    line-height: 17px;
    letter-spacing: 0.00268181px;
    color: #777777;
  }
}