// .form__input {
//   font-size: 1.5rem;
//   font-family: inherit;
//   color: inherit;
//   padding: 1.5rem 2rem;
//   border-radius: 2px;
//   background-color: rbga(#fff, 0.5);
//   border: none;
//   border-bottom: 3px solid transparent;
//   width: 90%;
//   display: block;
//   transition: all 0.3s;
// }

// .form__label {
//   font-size: 1.2rem;
//   font-weight: 700;
//   margin-left: 2rem;
//   margin-top: 0.7rem;
//   display: block;
//   transition: all 0.3s;
// }

// .form__input:placeholder-shown + .form__label {
//   opacity: 0;
//   visibility: hidden;
//   transform: translateY(-4rem);
// }

// .form__group {
//   display: flex;
//   width: 100%;
//   flex-direction: column;
//   margin-top: 2rem;
// }

// .form__radio__group {
//   width: 100%;
//   display: flex;
//   align-items: center;
//   border: 1px solid black;
//   margin: 20px 0;
//   padding: 20px 0;
// }

// .form__radio__input {
//   display: none;
// }

// .form__radio__label {
//   font-size: 1.6rem;
//   cursor: pointer;
//   position: relative;
//   padding-left: 3.5rem;
// }

// .form__radio__button {
//   height: 2rem;
//   width: 2rem;
//   border: 5px solid #55c57a;
//   border-radius: 50%;
//   display: inline-block;
//   position: absolute;
//   left: 1rem;
//   top: 1rem;
// }

// .form__radio__button::after {
//   content: "";
//   display: block;
//   height: 1.3rem;
//   width: 1.3rem;
//   border-radius: 50%;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background-color: #55c57a;
//   opacity: 0;
//   transition: opacity 0.2s;
// }

// .form__radio__input:checked ~ .form__radio__label .form__radio-button::after {
//   opacity: 1;
// }

// .content {
//   padding: 0 3rem;
// }

// .content_h1 {
//   font-size: 2rem;
//   padding: 1rem 0;
//   margin: 0;
// }

// .content_p {
//   margin: 0;
//   font-size: 1.4rem;
// }


.onboarding_form_container {
  border: 2px solid red;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}