.label {
    padding: 0 !important;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #333333;


}

.helperText {
    display: flex;
    gap: 3px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    width: 100%;

    color: #8B8B8B;
    margin-top: 15px !important;

    svg {
        margin: 0;
        height: 20px;
        height: 20px;
    }
}

.downloadIcon {
    margin-right: 10px !important;
}

.directorInfo {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;

    color: #828282;
}

.addBtn {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: #4F4F4F;
}