@import "../../../components/color/color.module.scss";

.signupContainer {
	min-height: 100vh;
	width: 100%;
	background: $dark;
	margin: 0 auto;
	display: flex;
	height: auto;
	overflow-y: auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.logo {
	margin-bottom: 52.6px;
	margin-top: 40px;
}

.signupDiv {
	padding-inline: 50px;
	border: 1px solid transparent;
	width: 1179px;
	min-height: 650px;
	max-width: 100%;
	margin: 0 auto;
	background-color: $light;
	// padding: 3rem 4rem 2rem 4rem;
	overflow-y: auto;
	padding-top: 50px;
	box-shadow: 0px 4px 14px rgba(15, 49, 32, 0.15);
	border-radius: 20px;
}

.signupDiv_flex {
	display: flex;


}

.signupList {
	display: flex;
	justify-content: flex-start;

	&>div {
		margin-bottom: 44px;
	}


}

.textBox {
	margin-left: 24px;
}

.iconchecked {
	// border: 2px solid red;
	// margin-top: 6px;
	padding: 0;
	width: 20px;

}

.desc {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #8B8B8B;
	width: 70%;
	padding: 0;
	margin: 0;

}



.title {

	font-family: 'Avenir semibold';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #414141;
	margin: 5px 0;
}

.formTitle {
	font-style: normal;
	font-weight: 400;
	color: #333333;
	font-size: 14px;
	margin-top: 5px;
	line-height: 19px;


}

.header {
	font-family: 'Avenir bold';
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 41px;
	color: #333333;
	margin-bottom: 44px;

}

.formBox {
	margin-top: -10px;
	width: 80%;
	max-width: 100%;
}

.mt1 {
	margin-top: 1rem;
	cursor: pointer;
}

label {
	margin-top: 5px;
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;

	color: #333333;
}

.sub {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 34px;
	color: #27AE60;
	margin-bottom: 34px;

}

.subP {
	color: #fff;
}

.formSub {
	font-size: smaller;
	margin-top: 1rem;
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;

	color: #6F6F6F;

	a {
		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
	}

}

#logText {
	color: #27AE60;
	cursor: pointer;
}

@media only screen and (max-width: 775px) {
	.signupDiv_flex {
		flex-direction: column;
	}

	.sub {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 600px) {
	.signupDiv {
		padding: 2rem;
		height: auto !important;
	}

	.signupContainer {
		height: auto;
	}
}

.ngoContainer {
	@extend .signupDiv;
	min-height: 520px;

	@media only screen and (max-width: 775px) {
		min-height: auto;
	}
}