* {
    box-sizing: border-box;
}




.container {
    position: relative;
    // width: 419px !important;
    // // min-height: 500px;
    // background: #fff;
    // box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
    // border-radius: 20px;
    // overflow-x: hidden;
    //


    // .title {
    //     padding: 15px 50px;
    //     border-bottom: 1px solid #E0E0E0;

    //     width: 90%;
    //     margin-inline: auto;
    // }

    .box2 {
        // padding: 10px 50px;
        padding: 17px 0;
        border-bottom: 1px solid #E0E0E0;

        //  @extend;
        position: absolute;
        // margin-bottom: 10rem;
        left: 0;
        width: 100%;
        margin-top: 13.5px;
        z-index: 999;



        p {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;

            color: #333333;



        }


        .savebeneficiary {
            color: #219653;
            cursor: pointer;


        }
    }

    button {
        width: 100%;
        // padding: 10px 20px;
        height: 44px;
        // margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

label {

    margin-bottom: 5px;

}


.helperText {
    margin-top: 25px !important;
    margin-bottom: 22px !important;


    svg {
        margin: 0;
        padding-right: 3px;
    }

    display: flex;
    justify-content: center;
    align-items:center;
}



.bulk__container {

    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    width: 611px;
    // height: 616px;
    max-width: 100%;

    .title {
        padding: 15px 50px;
        border-bottom: 1px solid #E0E0E0;

        h2 {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            /* identical to box height */


            color: #505050;
        }
    }

    &>* {
        color: #333333;
    }

    .topText {
        padding: 40px;
        border-bottom: 1px solid #E0E0E0;

        h3 {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #4F4F4F;
        }

        p {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            margin-top: 10px;
            color: #4F4F4F;
        }
    }


    svg {
        margin: 10px;
    }

    button {

        width: 100%;
        padding: 10px 20px;
        height: 44px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

.confirm_container {
    width: 560.66px;
    background: #FFFFFF;
    border-radius: 20px;

    .confirmInput {
        margin-top: -5px;

        .label {
            font-family: 'Avenir' !important;
            font-style: normal !important;
            font-weight: 400 !important;
            font-size: 14px !important;
            line-height: 19px !important;
            color: #333333;
        }
    }

    // confirmation
    .confirm {
        padding-inline: 40px;
        margin-top: 20px;


        p {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px !important;
            color: #333333;
            display: flex;


        }

        .confirmFooter {
            margin-top: 33px;
            margin-bottom: 15px;

            p {
                font-family: 'Avenir';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #333333;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                color: #333333;
                border: #219653 2px solid;

                a {
                    color: #219653;
                    font-size: 14px;
                    display: block;
                    margin-left: 2px;



                }


            }



            button {
                width: 100%;
                background: #27AE60;
                height: 44px;
                font-family: 'Avenir';
                font-style: normal;
                font-weight: 900;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #FFFFFF;
            }
        }
    }
}

.amounts {
    color: red;
    display: flex;
}

.resend {
    width: 100%;

    p {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        cursor: pointer;
        text-align: center;
        color: #333333;
    }

    span {
        color: #27AE60;
    }
}

.small {
    font-size: 13px;
    margin-left: 10px;
}

.mb {
    margin-bottom: 30px;

    p {
        display: flex;
    }
}

.full {
    width: 100%;
}