.container {
    width: 419px;
    min-height: 630px;
    background: #FFFFFF;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
    border-radius: 20px;

    .title {
        padding: 15px 50px;
        border-bottom: 1px solid #E0E0E0;
    }

    .box2 {
        padding: 10px 50px;
        border-bottom: 1px solid #E0E0E0;



        p {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;

            color: #333333;


        }


        .savebeneficiary {
            color: #219653;
            cursor: pointer;

        }
    }

    button {
        width: 100%;
        padding: 10px 20px;
        height: 40px;
        margin-top: 10px;
    }
}

label {

    margin-bottom: 6px;
}


.helperText {
    svg {
        margin: 0;
        padding-right: 3px;
    }

    display: flex;
    justify-content: flex-start;
    align-items:center;
}


// confirmation
.confirm {
    padding-inline: 40px;
    margin-top: 10px;


    p {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
    }

    .confirmFooter {
        margin-top: 5rem;

        p {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #333333;
            display: flex;
            justify-content: center;
            margin-top: 5px;
            align-items: center;

            a {
                color: #219653;
                font-size: 14px;
                display: block;

            }
        }
    }
}

.bulk__container {

    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    width: 611px;
    height: 616px;
    max-width: 100%;

    .title {
        padding: 15px 50px;
        border-bottom: 1px solid #E0E0E0;
    }

    &>* {
        color: #333333;
    }

    .topText {
        padding: 40px;
        border-bottom: 1px solid #E0E0E0;

        h3 {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #4F4F4F;
        }

        p {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            margin-top: 10px;
            color: #4F4F4F;
        }
    }


    svg {
        margin: 10px;
    }

    button {

        width: 100%;
        padding: 10px 20px;
        height: 44px;
        margin-top: 20px;

    }
}