@import "../color/color.module.scss";

.parent {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr;




  .main__container {
    // border: 2px solid $dark;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem 1fr;
    height: 100vh;
    max-height: 100vh;

    .header {
      padding-inline: 2.4rem;
      grid-column: 1/-1;
      // grid-row: 1fr;
      // border: 2px solid red;
    }

    .main {
      background-color: $body;
      grid-column: 1/-1;
      grid-row: 2/-1;
      // height: auto;
      // max-height: 100vh;
      overflow: auto;
      padding-inline: 38px;



    }
  }

  @media screen and (max-width:1000px) {
    grid-template-columns: 1fr;
    // display: block;



    .main {
      width: 100%;
    }
  }

}

// .sidebars {

//   background-color: $dark;
//   max-height: 100vh;
//   height: 100vh;
//   overflow-y: auto;
//   transition: transform .5s ease;

//   @media screen and (max-width:1000px) {


//     position: absolute;
//     bottom: 0;
//     right: 0;
//     left: 0;
//     z-index: 9999;
//     width: 50%;
//     transform: translateX(-80%);
//     // height: calc(100vh - 70px);
//     // transition: transform .5s ease;

//   }
// }

.showToggge {
  // @extend .sidebars;
  transform: translateX(0%) !important;
  display: none !important;
  transition: transform .5s ease;
  bottom: 0;
}