.container {
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 20px;
    // min-height: 80vh;
    margin-top: 35px;

    .formHeader {
        padding: 28px 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        border-bottom: 1px solid #EFF3F8;

        h2 {
            font-family: 'Avenir semibold';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
            color: #333333;
        }

        p {
            font-family: 'Avenir light';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;

            color: #828282;
        }
    }

    .apiWrapper {
        padding: 29.5px 44px;

        .apiListContainer {
            h3 {
                font-family: 'Avenir';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #828282;
                // margin-bottom: 1rem;
            }

            div {
                background: #FFFFFF;
                border: 1px dashed #DDDDDD;
                border-radius: 4px;
                height: 50px;
                width: 80%;
                display: flex;
                align-items: center;
                max-width: 100%;
                padding: 16px;
                justify-content: space-between;
                margin-bottom: 24px;
                margin-top: 4px;



                span {
                    font-family: 'Avenir';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: #4F4F4F;
                }

                @media screen and (max-width:768px) {
                    width: 100%;
                }

            }
        }

    }

    &>button {
        margin-inline: 44px;
        margin-top: -4px;
        height: 39px;
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 900;
        font-size: 14.3448px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 5rem;
    }

}


.modalList {
    width: 300px;
    margin-top: 51px;
    margin-bottom: 72px;

    p {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #4F4F4F;
    }

}

.modalFooter {

    margin-bottom: 30px;

    .btnGroup {

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        gap: 10px;


        &>button {
            width: 140px;
            height: 44px;
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 900;
            font-size: 16px;
            line-height: 22px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF;

        }

        &>button:nth-of-type(1) {
            background-color: transparent;
            border: 1px solid #27AE60;
            color: #095B2C;
        }
    }

}